.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.section__whxg {
  display: grid;
  position: sticky;
  align-content: center;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  background: var(--token-F0GhM8Mmy6S6);
  left: 0px;
  top: 0px;
  z-index: 1;
  overflow: auto;
  cursor: auto;
  backface-visibility: visible;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__whxg > * {
  grid-column: 4;
}
@media (max-width: 768px) {
  .section__whxg {
    position: sticky;
    left: 0px;
    top: 0px;
  }
}
@media (max-width: 768px) {
  .section__whxg > * {
    grid-column: 4;
  }
}
.navigationBar:global(.__wab_instance) {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 0px;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  justify-self: flex-start;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 16px;
}
@media (max-width: 768px) {
  .navigationBar:global(.__wab_instance) {
    color: var(--token-S6uc0sLuszyi);
    overflow: auto;
    left: auto;
    top: auto;
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: row;
  }
}
.link__y9DZx {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.img__awfQ1 {
  object-fit: cover;
  height: 100px;
  margin-right: 0px;
}
.img__awfQ1 > picture > img {
  object-fit: cover;
}
.img__sgRi6 {
  object-fit: cover;
  margin-bottom: 0px;
  margin-left: 0px;
  max-width: 35px;
  width: 100%;
  min-width: 0;
}
.img__sgRi6 > picture > img {
  object-fit: cover;
}
@media (max-width: 768px) {
  .img__sgRi6 {
    max-width: 25px;
  }
}
.img___5QoUt {
  object-fit: cover;
}
.img___5QoUt > picture > img {
  object-fit: cover;
}
@media (max-width: 768px) {
  .img___5QoUt {
    height: 20px;
    width: 20px;
  }
}
.link__tzaSq {
  position: relative;
  margin-right: 0px;
  display: flex;
}
.link__xmDa4 {
  position: relative;
  margin-right: 0px;
  display: flex;
}
.link__nbiOn {
  position: relative;
  margin-right: 0px;
  display: flex;
}
.link__zz26S {
  position: relative;
  display: flex;
}
.link__wGRgX {
  position: relative;
  display: flex;
  color: #3291ff;
}
.link___0SBna {
  position: relative;
  display: flex;
}
.link__pfoMh {
  display: grid;
  position: relative;
  align-content: center;
  justify-items: flex-end;
  width: 100%;
  padding-left: 0px;
  padding-right: 0;
  margin-top: 0px;
  max-width: 63px;
  color: var(--token-dMoyXbO7yWwG);
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.link__pfoMh > * {
  grid-column: 4;
}
.svg__zqqp {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-Nu9H9hLz4qRr);
  margin-bottom: 0px;
  margin-left: 0px;
  height: 30px;
}
@media (max-width: 768px) {
  .svg__zqqp {
    display: none;
  }
}
.section___2S5W6 {
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  display: none;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section___2S5W6 > * {
  grid-column: 4;
}
@media (max-width: 768px) {
  .section___2S5W6 {
    display: grid;
  }
}
@media (max-width: 768px) {
  .section___2S5W6 > * {
    grid-column: 4;
  }
}
.columns__c4Vm1 {
  --plsmc-rc-col-gap: 0px;
}
.columns__c4Vm1 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__c4Vm1 > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__c4Vm1 > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (max-width: 768px) {
  .columns__c4Vm1 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-self: flex-start;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
    display: none;
  }
}
@media (max-width: 768px) {
  .columns__c4Vm1 > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__ztLk4 {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (max-width: 768px) {
  .column__ztLk4 {
    display: none;
  }
}
.column__o3DmU {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (max-width: 768px) {
  .column__o3DmU {
    display: none;
  }
}
.section__sdV4V {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  background: var(--token-F0GhM8Mmy6S6);
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__sdV4V > * {
  grid-column: 4;
}
@media (max-width: 768px) {
  .section__sdV4V > * {
    grid-column: 4;
  }
}
.columns__gxlQ8 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  min-width: 0;
  padding: 8px;
}
.columns__gxlQ8 > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 3px);
  width: calc(100% + 3px);
  --plsmc-rc-col-gap: 3px;
}
.columns__gxlQ8 > :global(.__wab_flex-container) > *,
.columns__gxlQ8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__gxlQ8 > :global(.__wab_flex-container) > picture > img,
.columns__gxlQ8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 3px;
}
.columns__gxlQ8 {
  --plsmc-rc-col-gap: 0px;
}
.columns__gxlQ8 > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__gxlQ8 > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__gxlQ8 > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (max-width: 768px) {
  .columns__gxlQ8 {
    width: 100%;
    height: auto;
    flex-direction: row;
    padding-top: 0px;
    min-width: 0;
    display: none;
  }
}
@media (max-width: 768px) {
  .columns__gxlQ8 > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 768px) {
  .columns__gxlQ8 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__l4E6 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 768px) {
  .column__l4E6 {
    display: none;
  }
}
.button__wpgiX:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__wYaD {
  position: relative;
  object-fit: cover;
  margin-right: 0px;
  margin-bottom: 0px;
  height: 30px;
}
.svg__sZ2Vn {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.column__rLJl {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 768px) {
  .column__rLJl {
    display: none;
  }
}
.button__gUwh:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__dAgJd {
  position: relative;
  object-fit: cover;
  height: 35px;
}
.svg__naL2V {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.column__fJ46 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 768px) {
  .column__fJ46 {
    display: none;
  }
}
.button__fhG60:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__hUywp {
  position: relative;
  object-fit: cover;
  height: 30px;
}
.svg__pzyFf {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.section__xgb1P {
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  background: var(--token-F0GhM8Mmy6S6);
  min-width: 0;
  display: none;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__xgb1P > * {
  grid-column: 4;
}
@media (max-width: 768px) {
  .section__xgb1P {
    display: grid;
  }
}
@media (max-width: 768px) {
  .section__xgb1P > * {
    grid-column: 4;
  }
}
.columns__kFn30 {
  --plsmc-rc-col-gap: 0px;
}
.columns__kFn30 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__kFn30 > :nth-child(4n + 1) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__kFn30 > :nth-child(4n + 2) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__kFn30 > :nth-child(4n + 3) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__kFn30 > :nth-child(4n + 4) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
@media (max-width: 768px) {
  .columns__kFn30 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-self: flex-start;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
@media (max-width: 768px) {
  .columns__kFn30 > :nth-child(3n + 1) {
    width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
  }
}
@media (max-width: 768px) {
  .columns__kFn30 > :nth-child(3n + 2) {
    width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
  }
}
@media (max-width: 768px) {
  .columns__kFn30 > :nth-child(3n + 3) {
    width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
  }
}
.column__vQlK {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (max-width: 768px) {
  .column__vQlK {
    display: none;
  }
}
.button__s7Vdc:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__s4ZqN {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___0SxJ4 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.column__vnfXq {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px 0px;
}
@media (max-width: 768px) {
  .column__vnfXq {
    display: flex;
  }
}
.button__hq8By:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-right: 0px;
}
.svg__xnUo {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 25px;
  margin-bottom: 0px;
}
.text__wEePh {
  text-align: center;
  font-size: 12px;
  padding-right: 0px;
}
.svg__jw0AD {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.column__uuPap {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px;
}
.button__qqmvn:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__cgppr {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 25px;
}
.text__vjzwM {
  text-align: center;
  font-size: 12px;
}
.svg__o7En2 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.column__dKLzq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px;
}
.button__fnBx:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___6I2Zv {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 20px;
}
.text__vmIao {
  text-align: center;
  font-size: 12px;
  font-weight: 500;
}
.svg__gl2Fd {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.section___2NtZi {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section___2NtZi > * {
  grid-column: 4;
}
@media (max-width: 768px) {
  .section___2NtZi > * {
    grid-column: 4;
  }
}
.columns___03Om {
  --plsmc-rc-col-gap: 0px;
}
.columns___03Om {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-self: flex-start;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 36px 0px 0px;
}
.columns___03Om > :nth-child(1n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (max-width: 768px) {
  .columns___03Om {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 8px;
    padding-bottom: 0px;
    min-width: 0;
  }
}
@media (max-width: 768px) {
  .columns___03Om > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__oymVl {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.section__vnDlo {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  margin-right: 0px;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 36px 0;
}
.section__vnDlo > * {
  grid-column: 4;
}
@media (max-width: 768px) {
  .section__vnDlo {
    width: auto;
    padding-bottom: 8px;
    padding-top: 8px;
  }
}
@media (max-width: 768px) {
  .section__vnDlo > * {
    grid-column: 4;
  }
}
.columns__hledt {
  --plsmc-rc-col-gap: 0px;
}
.columns__hledt {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__hledt > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__hledt > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (max-width: 768px) {
  .columns__hledt {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 768px) {
  .columns__hledt > :nth-child(2n + 1) {
    width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
  }
}
@media (max-width: 768px) {
  .columns__hledt > :nth-child(2n + 2) {
    width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
  }
}
.column__lzkYm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 768px) {
  .column__lzkYm {
    align-items: flex-start;
    justify-content: center;
  }
}
.link__fFxQr {
  position: relative;
  display: flex;
}
.svg__xMqp9 {
  object-fit: cover;
  max-width: 100%;
  height: 25px;
  color: var(--token-WxvvgatuPYoJ);
}
@media (max-width: 768px) {
  .svg__xMqp9 {
    color: var(--token-WxvvgatuPYoJ);
  }
}
.column__y9TbR {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__duEiP {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  font-weight: 300;
  text-align: right;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__duEiP {
    font-size: 18px;
  }
}
.text__y80Do {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 26px;
  font-weight: 500;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__y80Do {
    font-size: 21px;
  }
}
.text__wblvL {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 300;
  font-size: 24px;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__wblvL {
    font-size: 18px;
  }
}
.section__m3HuU {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__m3HuU > * {
  grid-column: 4;
}
.images05 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  justify-self: flex-start;
  min-width: 0;
  border-radius: 6px;
}
.images05 > picture > img {
  object-fit: cover;
}
@media (max-width: 768px) {
  .images05 {
    border-radius: 6px;
  }
}
.section__fs5CK {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  margin-right: 0px;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 36px 0;
}
.section__fs5CK > * {
  grid-column: 4;
}
@media (max-width: 768px) {
  .section__fs5CK {
    width: auto;
    padding-bottom: 0px;
    padding-top: 8px;
  }
}
@media (max-width: 768px) {
  .section__fs5CK > * {
    grid-column: 4;
  }
}
.text__kvpE2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 300;
  font-size: 24px;
  padding-bottom: 0px;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__kvpE2 {
    font-size: 18px;
  }
}
.section__vtmAm {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 36px 0;
}
.section__vtmAm > * {
  grid-column: 4;
}
@media (max-width: 768px) {
  .section__vtmAm {
    padding-top: 8px;
    padding-bottom: 8px;
    display: none;
  }
}
@media (max-width: 768px) {
  .section__vtmAm > * {
    grid-column: 4;
  }
}
.columns__b6MF9 {
  --plsmc-rc-col-gap: 0px;
}
.columns__b6MF9 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-self: flex-start;
  min-width: 0;
  padding: 8px 0px;
}
.columns__b6MF9 > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__b6MF9 > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (max-width: 768px) {
  .columns__b6MF9 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 768px) {
  .columns__b6MF9 > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__cKqw9 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.img___4SMp8 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  border-radius: 6px;
}
.img___4SMp8 > picture > img {
  object-fit: cover;
}
@media (max-width: 768px) {
  .img___4SMp8 {
    margin-right: 0px;
  }
}
.column___7Bu6U {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
.text___7HhDp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  font-weight: 300;
  min-width: 0;
}
@media (max-width: 768px) {
  .text___7HhDp {
    font-size: 21px;
  }
}
.text__uzWqn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 26px;
  font-weight: 500;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__uzWqn {
    font-size: 21px;
    padding-top: 0px;
  }
}
.text__ukXzi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 300;
  font-size: 24px;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__ukXzi {
    font-size: 18px;
  }
}
.section__tCbO2 {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 36px 0;
}
.section__tCbO2 > * {
  grid-column: 4;
}
@media (max-width: 768px) {
  .section__tCbO2 {
    padding-top: 8px;
    padding-bottom: 8px;
    display: none;
  }
}
@media (max-width: 768px) {
  .section__tCbO2 > * {
    grid-column: 4;
  }
}
.columns__a5Yhu {
  --plsmc-rc-col-gap: 0px;
}
.columns__a5Yhu {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-self: flex-start;
  min-width: 0;
  padding: 8px 0px;
}
.columns__a5Yhu > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__a5Yhu > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (max-width: 768px) {
  .columns__a5Yhu {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 768px) {
  .columns__a5Yhu > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__iv6A5 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.img__cbQnL {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  border-radius: 6px;
}
.img__cbQnL > picture > img {
  object-fit: cover;
}
@media (max-width: 768px) {
  .img__cbQnL {
    margin-right: 0px;
  }
}
.column__j8YRd {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
.text__dsDVa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  font-weight: 300;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__dsDVa {
    font-size: 21px;
  }
}
.text___4CmVh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 26px;
  font-weight: 500;
  min-width: 0;
}
@media (max-width: 768px) {
  .text___4CmVh {
    font-size: 21px;
  }
}
.text__hv82X {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 300;
  font-size: 24px;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__hv82X {
    font-size: 18px;
  }
}
.section___1MgdL {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 36px 0;
}
.section___1MgdL > * {
  grid-column: 4;
}
@media (max-width: 768px) {
  .section___1MgdL {
    padding-top: 8px;
    padding-bottom: 8px;
    display: none;
  }
}
@media (max-width: 768px) {
  .section___1MgdL > * {
    grid-column: 4;
  }
}
.columns__wjM0E {
  --plsmc-rc-col-gap: 0px;
}
.columns__wjM0E {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-self: flex-start;
  min-width: 0;
  padding: 8px 0px;
}
.columns__wjM0E > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__wjM0E > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (max-width: 768px) {
  .columns__wjM0E {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 768px) {
  .columns__wjM0E > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__iVmRc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.img__b5Hxi {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  border-radius: 6px;
}
.img__b5Hxi > picture > img {
  object-fit: cover;
}
@media (max-width: 768px) {
  .img__b5Hxi {
    margin-right: 0px;
  }
}
.column___3Oz2R {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
.text__ky38M {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  font-weight: 300;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__ky38M {
    font-size: 21px;
  }
}
.text__xbnP {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 26px;
  font-weight: 500;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__xbnP {
    font-size: 21px;
  }
}
.text__xOv6J {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 300;
  font-size: 24px;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__xOv6J {
    font-size: 18px;
  }
}
.section__hWf0G {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 36px 0;
}
.section__hWf0G > * {
  grid-column: 4;
}
@media (max-width: 768px) {
  .section__hWf0G {
    padding-top: 8px;
    padding-bottom: 8px;
    display: none;
  }
}
@media (max-width: 768px) {
  .section__hWf0G > * {
    grid-column: 4;
  }
}
.columns__af8E3 {
  --plsmc-rc-col-gap: 0px;
}
.columns__af8E3 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-self: flex-start;
  min-width: 0;
  padding: 8px 0px;
}
.columns__af8E3 > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__af8E3 > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (max-width: 768px) {
  .columns__af8E3 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 768px) {
  .columns__af8E3 > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__aqBa {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.img__zyi7 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  border-radius: 6px;
}
.img__zyi7 > picture > img {
  object-fit: cover;
}
@media (max-width: 768px) {
  .img__zyi7 {
    margin-right: 0px;
  }
}
.column__lvj2E {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
.text__pVnnm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  font-weight: 300;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__pVnnm {
    font-size: 21px;
  }
}
.text__nYzLt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 26px;
  font-weight: 500;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__nYzLt {
    font-size: 21px;
  }
}
.text__agEcU {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 300;
  font-size: 24px;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__agEcU {
    font-size: 18px;
  }
}
.section___5CBo9 {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 36px 0;
}
.section___5CBo9 > * {
  grid-column: 4;
}
@media (max-width: 768px) {
  .section___5CBo9 {
    padding-top: 8px;
    padding-bottom: 8px;
    display: none;
  }
}
@media (max-width: 768px) {
  .section___5CBo9 > * {
    grid-column: 4;
  }
}
.columns__vOdwQ {
  --plsmc-rc-col-gap: 0px;
}
.columns__vOdwQ {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-self: flex-start;
  min-width: 0;
  padding: 8px 0px;
}
.columns__vOdwQ > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__vOdwQ > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (max-width: 768px) {
  .columns__vOdwQ {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 768px) {
  .columns__vOdwQ > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__qPy1O {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.img__wGYfQ {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  border-radius: 6px;
}
.img__wGYfQ > picture > img {
  object-fit: cover;
}
@media (max-width: 768px) {
  .img__wGYfQ {
    margin-right: 0px;
  }
}
.column__qTb1J {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
.text__aBCin {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  font-weight: 300;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__aBCin {
    font-size: 21px;
  }
}
.text__a0Rq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 26px;
  font-weight: 500;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__a0Rq {
    font-size: 21px;
  }
}
.text__eTq7W {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 300;
  font-size: 24px;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__eTq7W {
    font-size: 18px;
  }
}
.section__ynwBb {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 36px 0;
}
.section__ynwBb > * {
  grid-column: 4;
}
@media (max-width: 768px) {
  .section__ynwBb {
    padding-top: 8px;
    padding-bottom: 8px;
    display: none;
  }
}
@media (max-width: 768px) {
  .section__ynwBb > * {
    grid-column: 4;
  }
}
.columns__eKqJz {
  --plsmc-rc-col-gap: 0px;
}
.columns__eKqJz {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-self: flex-start;
  min-width: 0;
  padding: 8px 0px;
}
.columns__eKqJz > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__eKqJz > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (max-width: 768px) {
  .columns__eKqJz {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 768px) {
  .columns__eKqJz > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___2VvJh {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.img__t0WNj {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  border-radius: 6px;
}
.img__t0WNj > picture > img {
  object-fit: cover;
}
@media (max-width: 768px) {
  .img__t0WNj {
    margin-right: 0px;
  }
}
.column___34CnP {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
.text__to1WT {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  font-weight: 300;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__to1WT {
    font-size: 21px;
  }
}
.text___4DE9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 26px;
  font-weight: 500;
  min-width: 0;
}
@media (max-width: 768px) {
  .text___4DE9 {
    font-size: 21px;
  }
}
.text__aoAZ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 300;
  font-size: 24px;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__aoAZ {
    font-size: 18px;
  }
}
.section__gUTr3 {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__gUTr3 > * {
  grid-column: 4;
}
@media (max-width: 768px) {
  .section__gUTr3 > * {
    grid-column: 4;
  }
}
.columns__sSesn {
  --plsmc-rc-col-gap: 0px;
}
.columns__sSesn {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-self: flex-start;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 36px 0px;
}
.columns__sSesn > :nth-child(1n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (max-width: 768px) {
  .columns__sSesn {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 8px;
    padding-bottom: 8px;
    min-width: 0;
    display: none;
  }
}
@media (max-width: 768px) {
  .columns__sSesn > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___057X {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 768px) {
  .column___057X {
    display: none;
  }
}
.section__gdHkE {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__gdHkE > * {
  grid-column: 4;
}
.img__aHmxX {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: auto;
  border-radius: 6px;
}
.img__aHmxX > picture > img {
  object-fit: cover;
}
@media (max-width: 768px) {
  .img__aHmxX {
    display: none !important;
    border-radius: 6px;
  }
}
.section__s1NLm {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: auto;
  margin-right: 0px;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 36px 0;
}
.section__s1NLm > * {
  grid-column: 4;
}
@media (max-width: 768px) {
  .section__s1NLm {
    width: auto;
    display: none;
  }
}
@media (max-width: 768px) {
  .section__s1NLm > * {
    grid-column: 4;
  }
}
.text__jM3M {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  font-weight: 300;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__jM3M {
    display: none;
  }
}
.link__g7CWc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 26px;
  font-weight: 500;
  color: #535353d9;
  min-width: 0;
}
@media (max-width: 768px) {
  .link__g7CWc {
    color: var(--token-WxvvgatuPYoJ);
    display: none;
  }
}
.text__nmtuo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 300;
  font-size: 24px;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__nmtuo {
    display: none;
  }
}
.footerMain:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (max-width: 768px) {
  .footerMain:global(.__wab_instance) {
    display: none;
  }
}
.section__s1A5D {
  display: grid;
  position: relative;
  align-content: center;
  justify-items: center;
  width: 100%;
  background: #ffffff;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__s1A5D > * {
  grid-column: 4;
}
@media (max-width: 768px) {
  .section__s1A5D {
    display: none;
  }
}
@media (max-width: 768px) {
  .section__s1A5D > * {
    grid-column: 4;
  }
}
.columns___88W2H {
  --plsmc-rc-col-gap: 0px;
}
.columns___88W2H {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns___88W2H > :nth-child(1n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (max-width: 768px) {
  .columns___88W2H {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 768px) {
  .columns___88W2H > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__mQyEr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.columns__kflha {
  --plsmc-rc-col-gap: 0px;
}
.columns__kflha {
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 8px;
}
.columns__kflha > :nth-child(5n + 1) {
  width: calc((100% - 5 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__kflha > :nth-child(5n + 2) {
  width: calc((100% - 5 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__kflha > :nth-child(5n + 3) {
  width: calc((100% - 5 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns__kflha > :nth-child(5n + 4) {
  width: calc((100% - 5 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns__kflha > :nth-child(5n + 5) {
  width: calc((100% - 5 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
@media (max-width: 768px) {
  .columns__kflha {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 768px) {
  .columns__kflha > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___3PdEp {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__jZnmZ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  min-width: 0;
}
.column__sXukq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__pbFcD {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 80px;
  flex-shrink: 0;
}
.img__pbFcD > picture > img {
  object-fit: cover;
}
.column__osYx5 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__uzJi {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 62px;
  margin-right: 0px;
  flex-shrink: 0;
}
.img__uzJi > picture > img {
  object-fit: cover;
}
.column___0DAxF {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__xgnf {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 66px;
  margin-bottom: 0px;
  flex-shrink: 0;
}
.img__xgnf > picture > img {
  object-fit: cover;
}
.column__uFI7 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__rXtHm {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 80px;
  flex-shrink: 0;
}
.img__rXtHm > picture > img {
  object-fit: cover;
}
.pageMetadataOverride:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.section__fO1Ur {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 36px 0;
}
.section__fO1Ur > * {
  grid-column: 4;
}
@media (max-width: 768px) {
  .section__fO1Ur {
    padding-top: 8px;
    padding-bottom: 8px;
    display: none;
  }
}
@media (max-width: 768px) {
  .section__fO1Ur > * {
    grid-column: 4;
  }
}
.columns___9T0Ju {
  --plsmc-rc-col-gap: 0px;
}
.columns___9T0Ju {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-self: flex-start;
  min-width: 0;
  padding: 8px 0px;
}
.columns___9T0Ju > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns___9T0Ju > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (max-width: 768px) {
  .columns___9T0Ju {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 768px) {
  .columns___9T0Ju > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___1Nxt {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.img__jvYcv {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  border-radius: 6px;
}
.img__jvYcv > picture > img {
  object-fit: cover;
}
@media (max-width: 768px) {
  .img__jvYcv {
    margin-right: 0px;
  }
}
.column__uetyk {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
.text__bLtS {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  font-weight: 300;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__bLtS {
    font-size: 21px;
  }
}
.text__uf4El {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 26px;
  font-weight: 500;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__uf4El {
    font-size: 21px;
  }
}
.text__nwFu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 300;
  font-size: 24px;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__nwFu {
    font-size: 18px;
  }
}
.section__h66Vn {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 36px 0;
}
.section__h66Vn > * {
  grid-column: 4;
}
@media (max-width: 768px) {
  .section__h66Vn {
    padding-top: 8px;
    padding-bottom: 8px;
    display: none;
  }
}
@media (max-width: 768px) {
  .section__h66Vn > * {
    grid-column: 4;
  }
}
.columns__m79Ir {
  --plsmc-rc-col-gap: 0px;
}
.columns__m79Ir {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-self: flex-start;
  min-width: 0;
  padding: 8px 0px;
}
.columns__m79Ir > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__m79Ir > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (max-width: 768px) {
  .columns__m79Ir {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 768px) {
  .columns__m79Ir > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__y8Flt {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.img__uBoyD {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  border-radius: 6px;
}
.img__uBoyD > picture > img {
  object-fit: cover;
}
@media (max-width: 768px) {
  .img__uBoyD {
    margin-right: 0px;
  }
}
.column__sfGrX {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
.text__sQmki {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  font-weight: 300;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__sQmki {
    font-size: 21px;
  }
}
.text__k4AXq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 26px;
  font-weight: 500;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__k4AXq {
    font-size: 21px;
  }
}
.text__pNal {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 300;
  font-size: 24px;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__pNal {
    font-size: 18px;
  }
}
.section__lcqsi {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 36px 0;
}
.section__lcqsi > * {
  grid-column: 4;
}
@media (max-width: 768px) {
  .section__lcqsi {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}
@media (max-width: 768px) {
  .section__lcqsi > * {
    grid-column: 4;
  }
}
.columns___3KlkI {
  --plsmc-rc-col-gap: 0px;
}
.columns___3KlkI {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-self: flex-start;
  min-width: 0;
  padding: 8px 0px;
}
.columns___3KlkI > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns___3KlkI > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (max-width: 768px) {
  .columns___3KlkI {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 768px) {
  .columns___3KlkI > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__m0Ovk {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.img__xup29 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  border-radius: 6px;
}
.img__xup29 > picture > img {
  object-fit: cover;
}
@media (max-width: 768px) {
  .img__xup29 {
    margin-right: 0px;
  }
}
.column__zwnfw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
.text__d7DV {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  font-weight: 300;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__d7DV {
    font-size: 21px;
  }
}
.text__piBOm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 26px;
  font-weight: 500;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__piBOm {
    font-size: 21px;
  }
}
.text__pNeHw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 300;
  font-size: 24px;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__pNeHw {
    font-size: 18px;
  }
}
