@import url("https://fonts.googleapis.com/css2?family=Roboto%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C700&family=Playfair+Display%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800&family=Inconsolata%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800&family=Inter%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800&display=swap");

.plasmic_tokens {
  --token-F0GhM8Mmy6S6: #ff0100;
  --plasmic-token-heading: var(--token-F0GhM8Mmy6S6);
  --token-Nu9H9hLz4qRr: #ffffff;
  --plasmic-token-white-color: var(--token-Nu9H9hLz4qRr);
  --token-FbxTUPtNUAZd: 320px;
  --plasmic-token-width-mixin: var(--token-FbxTUPtNUAZd);
  --token-S6uc0sLuszyi: var(--token-dMoyXbO7yWwG);
  --plasmic-token-unnamed-style-token: var(--token-S6uc0sLuszyi);
  --token-KYN8AlCtmyvQ: var(--token-dMoyXbO7yWwG);
  --plasmic-token-unnamed-style-token-2: var(--token-KYN8AlCtmyvQ);
  --token-JC54K7IQBrrQ: var(--token-yQouI0TuzYJr);
  --plasmic-token-unnamed-style-token-3: var(--token-JC54K7IQBrrQ);
  --token-yQouI0TuzYJr: var(--token-S6uc0sLuszyi);
  --plasmic-token-unnamed-style-token-4: var(--token-yQouI0TuzYJr);
  --token-dMoyXbO7yWwG: #535353;
  --plasmic-token-unnamed-style-token-5: var(--token-dMoyXbO7yWwG);
  --token-ERlMTqhzz8wi: #535353;
  --plasmic-token-unnamed-style-token-6: var(--token-ERlMTqhzz8wi);
  --token-ZrXZqYIrTs0f: var(--token-ERlMTqhzz8wi);
  --plasmic-token-unnamed-style-token-7: var(--token-ZrXZqYIrTs0f);
  --token-AQRBWeQeivez: var(--token-dMoyXbO7yWwG);
  --plasmic-token-unnamed-style-token-8: var(--token-AQRBWeQeivez);
  --token-U9nm9ui6t22W: var(--token-dMoyXbO7yWwG);
  --plasmic-token-unnamed-style-token-9: var(--token-U9nm9ui6t22W);
  --token-ndRRttMkcftv: var(--token-kzT08fQBAHgz);
  --plasmic-token-unnamed-style-token-10: var(--token-ndRRttMkcftv);
  --token-lxe0arrXrIWN: #535353;
  --plasmic-token-unnamed-style-token-11: var(--token-lxe0arrXrIWN);
  --token-5XKQ1ObVHbpT: Roboto;
  --plasmic-token-roboto: var(--token-5XKQ1ObVHbpT);
}

@media (max-width: 768px) {
  .plasmic_tokens {
    --token-F0GhM8Mmy6S6: #ff0100;
    --plasmic-token-heading: var(--token-F0GhM8Mmy6S6);
    --token-dMoyXbO7yWwG: #535353;
    --plasmic-token-unnamed-style-token-5: var(--token-dMoyXbO7yWwG);
    --token-ERlMTqhzz8wi: #535353;
    --plasmic-token-unnamed-style-token-6: var(--token-ERlMTqhzz8wi);
  }
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-j8DBflLhTPVU_font-family: "Roboto", sans-serif;
  --mixin-j8DBflLhTPVU_font-size: 16px;
  --mixin-j8DBflLhTPVU_font-weight: 400;
  --mixin-j8DBflLhTPVU_font-style: normal;
  --mixin-j8DBflLhTPVU_color: var(--token-S6uc0sLuszyi);
  --mixin-j8DBflLhTPVU_text-align: left;
  --mixin-j8DBflLhTPVU_text-transform: none;
  --mixin-j8DBflLhTPVU_line-height: 1.7;
  --mixin-j8DBflLhTPVU_letter-spacing: normal;
  --mixin-j8DBflLhTPVU_white-space: pre-wrap;
  --mixin-j8DBflLhTPVU_user-select: text;
  --mixin-j8DBflLhTPVU_text-decoration-line: none;
  --mixin-j8DBflLhTPVU_text-overflow: clip;
  --mixin-9jpb3HJ6UYpG_color: var(--token-Nu9H9hLz4qRr);
  --mixin-9jpb3HJ6UYpG_font-weight: 700;
  --mixin-9jpb3HJ6UYpG_font-size: 50px;
  --mixin-9jpb3HJ6UYpG_line-height: 1.2;
  --mixin-9jpb3HJ6UYpG_letter-spacing: 0px;
  --mixin-9jpb3HJ6UYpG_font-family: "Playfair Display", serif;
  --mixin-9jpb3HJ6UYpG_text-align: center;
  --mixin-9jpb3HJ6UYpG_white-space: pre-wrap;
  --mixin-hgJu6jDKTeSX_color: #000000;
  --mixin-hgJu6jDKTeSX_font-weight: 600;
  --mixin-hgJu6jDKTeSX_font-size: 36px;
  --mixin-hgJu6jDKTeSX_line-height: 1.1;
  --mixin-hgJu6jDKTeSX_letter-spacing: -1px;
  --mixin-hgJu6jDKTeSX_font-family: "Playfair Display", serif;
  --mixin-hgJu6jDKTeSX_white-space: pre-wrap;
  --mixin-jygAkwfgEQqr_color: #3291ff;
  --mixin-jygAkwfgEQqr_white-space: pre-wrap;
  --mixin-iXAyT78gJcAu_color: #000000;
  --mixin-iXAyT78gJcAu_font-weight: 600;
  --mixin-iXAyT78gJcAu_font-size: 24px;
  --mixin-iXAyT78gJcAu_line-height: 1.2;
  --mixin-iXAyT78gJcAu_letter-spacing: 0px;
  --mixin-iXAyT78gJcAu_font-family: "Playfair Display", serif;
  --mixin-iXAyT78gJcAu_white-space: pre-wrap;
  --mixin-pXTvoUjFzURp_color: #000000;
  --mixin-pXTvoUjFzURp_font-weight: 600;
  --mixin-pXTvoUjFzURp_font-size: 24px;
  --mixin-pXTvoUjFzURp_line-height: 1.3;
  --mixin-pXTvoUjFzURp_letter-spacing: -0.5px;
  --mixin-pXTvoUjFzURp_white-space: pre-wrap;
  --mixin-K_PMfWC5t_n7_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-K_PMfWC5t_n7_border-bottom-color: #dddddd;
  --mixin-K_PMfWC5t_n7_border-bottom-style: solid;
  --mixin-K_PMfWC5t_n7_border-bottom-width: 1px;
  --mixin-K_PMfWC5t_n7_border-left-color: #dddddd;
  --mixin-K_PMfWC5t_n7_border-left-style: solid;
  --mixin-K_PMfWC5t_n7_border-left-width: 1px;
  --mixin-K_PMfWC5t_n7_border-right-color: #dddddd;
  --mixin-K_PMfWC5t_n7_border-right-style: solid;
  --mixin-K_PMfWC5t_n7_border-right-width: 1px;
  --mixin-K_PMfWC5t_n7_border-top-color: #dddddd;
  --mixin-K_PMfWC5t_n7_border-top-style: solid;
  --mixin-K_PMfWC5t_n7_border-top-width: 1px;
  --mixin-K_PMfWC5t_n7_border-bottom-left-radius: 3px;
  --mixin-K_PMfWC5t_n7_border-bottom-right-radius: 3px;
  --mixin-K_PMfWC5t_n7_border-top-left-radius: 3px;
  --mixin-K_PMfWC5t_n7_border-top-right-radius: 3px;
  --mixin-K_PMfWC5t_n7_font-family: "Inconsolata";
  --mixin-K_PMfWC5t_n7_padding-bottom: 1px;
  --mixin-K_PMfWC5t_n7_padding-left: 4px;
  --mixin-K_PMfWC5t_n7_padding-right: 4px;
  --mixin-K_PMfWC5t_n7_padding-top: 1px;
  --mixin-K_PMfWC5t_n7_white-space: pre-wrap;
  --mixin-apVGAHkxobmj_font-family: "Inter", sans-serif;
  --mixin-apVGAHkxobmj_color: #000000;
  --mixin-apVGAHkxobmj_font-size: 20px;
  --mixin-apVGAHkxobmj_font-weight: 600;
  --mixin-apVGAHkxobmj_letter-spacing: -0.3px;
  --mixin-apVGAHkxobmj_line-height: 1.5;
  --mixin-apVGAHkxobmj_white-space: pre-wrap;
  --mixin-oCigjNqyJxrE_font-family: "Inter", sans-serif;
  --mixin-oCigjNqyJxrE_color: #000000;
  --mixin-oCigjNqyJxrE_font-size: 16px;
  --mixin-oCigjNqyJxrE_font-weight: 600;
  --mixin-oCigjNqyJxrE_line-height: 1.5;
  --mixin-oCigjNqyJxrE_white-space: pre-wrap;
  --mixin-_GCaxq_KOKTM_border-left-color: #dddddd;
  --mixin-_GCaxq_KOKTM_border-left-style: solid;
  --mixin-_GCaxq_KOKTM_border-left-width: 3px;
  --mixin-_GCaxq_KOKTM_color: #888888;
  --mixin-_GCaxq_KOKTM_padding-left: 10px;
  --mixin-_GCaxq_KOKTM_white-space: pre-wrap;
  --mixin-A8plrocru48Y_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-A8plrocru48Y_border-bottom-color: #dddddd;
  --mixin-A8plrocru48Y_border-bottom-style: solid;
  --mixin-A8plrocru48Y_border-bottom-width: 1px;
  --mixin-A8plrocru48Y_border-left-color: #dddddd;
  --mixin-A8plrocru48Y_border-left-style: solid;
  --mixin-A8plrocru48Y_border-left-width: 1px;
  --mixin-A8plrocru48Y_border-right-color: #dddddd;
  --mixin-A8plrocru48Y_border-right-style: solid;
  --mixin-A8plrocru48Y_border-right-width: 1px;
  --mixin-A8plrocru48Y_border-top-color: #dddddd;
  --mixin-A8plrocru48Y_border-top-style: solid;
  --mixin-A8plrocru48Y_border-top-width: 1px;
  --mixin-A8plrocru48Y_border-bottom-left-radius: 3px;
  --mixin-A8plrocru48Y_border-bottom-right-radius: 3px;
  --mixin-A8plrocru48Y_border-top-left-radius: 3px;
  --mixin-A8plrocru48Y_border-top-right-radius: 3px;
  --mixin-A8plrocru48Y_font-family: "Inconsolata";
  --mixin-A8plrocru48Y_padding-bottom: 3px;
  --mixin-A8plrocru48Y_padding-left: 6px;
  --mixin-A8plrocru48Y_padding-right: 6px;
  --mixin-A8plrocru48Y_padding-top: 3px;
  --mixin-A8plrocru48Y_white-space: pre-wrap;
  --mixin-fMv__YCuMVbb_display: flex;
  --mixin-fMv__YCuMVbb_flex-direction: column;
  --mixin-fMv__YCuMVbb_align-items: stretch;
  --mixin-fMv__YCuMVbb_justify-content: flex-start;
  --mixin-fMv__YCuMVbb_list-style-position: outside;
  --mixin-fMv__YCuMVbb_padding-left: 40px;
  --mixin-fMv__YCuMVbb_position: relative;
  --mixin-fMv__YCuMVbb_list-style-type: decimal;
  --mixin-fMv__YCuMVbb_white-space: pre-wrap;
  --mixin-XVfgvGC1YhCt_display: flex;
  --mixin-XVfgvGC1YhCt_flex-direction: column;
  --mixin-XVfgvGC1YhCt_align-items: stretch;
  --mixin-XVfgvGC1YhCt_justify-content: flex-start;
  --mixin-XVfgvGC1YhCt_list-style-position: outside;
  --mixin-XVfgvGC1YhCt_padding-left: 40px;
  --mixin-XVfgvGC1YhCt_position: relative;
  --mixin-XVfgvGC1YhCt_list-style-type: disc;
  --mixin-XVfgvGC1YhCt_white-space: pre-wrap;
}

.plasmic_mixins {
  --mixin-zSDPhAFKrBxF_white-space: pre-wrap;
  --plasmic-mixin-monserrat-bold-light-color_white-space: var(
    --mixin-zSDPhAFKrBxF_white-space
  );
  --mixin--jTHGN_FtM9W_white-space: pre-wrap;
  --plasmic-mixin-footer-menu-text_white-space: var(
    --mixin--jTHGN_FtM9W_white-space
  );
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-j8DBflLhTPVU_font-family);
  font-size: var(--mixin-j8DBflLhTPVU_font-size);
  font-weight: var(--mixin-j8DBflLhTPVU_font-weight);
  font-style: var(--mixin-j8DBflLhTPVU_font-style);
  color: var(--mixin-j8DBflLhTPVU_color);
  text-align: var(--mixin-j8DBflLhTPVU_text-align);
  text-transform: var(--mixin-j8DBflLhTPVU_text-transform);
  line-height: var(--mixin-j8DBflLhTPVU_line-height);
  letter-spacing: var(--mixin-j8DBflLhTPVU_letter-spacing);
  white-space: var(--mixin-j8DBflLhTPVU_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-9jpb3HJ6UYpG_color);
  font-weight: var(--mixin-9jpb3HJ6UYpG_font-weight);
  font-size: var(--mixin-9jpb3HJ6UYpG_font-size);
  line-height: var(--mixin-9jpb3HJ6UYpG_line-height);
  letter-spacing: var(--mixin-9jpb3HJ6UYpG_letter-spacing);
  font-family: var(--mixin-9jpb3HJ6UYpG_font-family);
  text-align: var(--mixin-9jpb3HJ6UYpG_text-align);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-hgJu6jDKTeSX_color);
  font-weight: var(--mixin-hgJu6jDKTeSX_font-weight);
  font-size: var(--mixin-hgJu6jDKTeSX_font-size);
  line-height: var(--mixin-hgJu6jDKTeSX_line-height);
  letter-spacing: var(--mixin-hgJu6jDKTeSX_letter-spacing);
  font-family: var(--mixin-hgJu6jDKTeSX_font-family);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-jygAkwfgEQqr_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-iXAyT78gJcAu_color);
  font-weight: var(--mixin-iXAyT78gJcAu_font-weight);
  font-size: var(--mixin-iXAyT78gJcAu_font-size);
  line-height: var(--mixin-iXAyT78gJcAu_line-height);
  letter-spacing: var(--mixin-iXAyT78gJcAu_letter-spacing);
  font-family: var(--mixin-iXAyT78gJcAu_font-family);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-pXTvoUjFzURp_color);
  font-weight: var(--mixin-pXTvoUjFzURp_font-weight);
  font-size: var(--mixin-pXTvoUjFzURp_font-size);
  line-height: var(--mixin-pXTvoUjFzURp_line-height);
  letter-spacing: var(--mixin-pXTvoUjFzURp_letter-spacing);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-K_PMfWC5t_n7_font-family);
  border-radius: var(--mixin-K_PMfWC5t_n7_border-top-left-radius)
    var(--mixin-K_PMfWC5t_n7_border-top-right-radius)
    var(--mixin-K_PMfWC5t_n7_border-bottom-right-radius)
    var(--mixin-K_PMfWC5t_n7_border-bottom-left-radius);
  padding: var(--mixin-K_PMfWC5t_n7_padding-top)
    var(--mixin-K_PMfWC5t_n7_padding-right)
    var(--mixin-K_PMfWC5t_n7_padding-bottom)
    var(--mixin-K_PMfWC5t_n7_padding-left);
  border-top: var(--mixin-K_PMfWC5t_n7_border-top-width)
    var(--mixin-K_PMfWC5t_n7_border-top-style)
    var(--mixin-K_PMfWC5t_n7_border-top-color);
  border-right: var(--mixin-K_PMfWC5t_n7_border-right-width)
    var(--mixin-K_PMfWC5t_n7_border-right-style)
    var(--mixin-K_PMfWC5t_n7_border-right-color);
  border-bottom: var(--mixin-K_PMfWC5t_n7_border-bottom-width)
    var(--mixin-K_PMfWC5t_n7_border-bottom-style)
    var(--mixin-K_PMfWC5t_n7_border-bottom-color);
  border-left: var(--mixin-K_PMfWC5t_n7_border-left-width)
    var(--mixin-K_PMfWC5t_n7_border-left-style)
    var(--mixin-K_PMfWC5t_n7_border-left-color);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  font-family: var(--mixin-apVGAHkxobmj_font-family);
  color: var(--mixin-apVGAHkxobmj_color);
  font-size: var(--mixin-apVGAHkxobmj_font-size);
  font-weight: var(--mixin-apVGAHkxobmj_font-weight);
  letter-spacing: var(--mixin-apVGAHkxobmj_letter-spacing);
  line-height: var(--mixin-apVGAHkxobmj_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  font-family: var(--mixin-oCigjNqyJxrE_font-family);
  color: var(--mixin-oCigjNqyJxrE_color);
  font-size: var(--mixin-oCigjNqyJxrE_font-size);
  font-weight: var(--mixin-oCigjNqyJxrE_font-weight);
  line-height: var(--mixin-oCigjNqyJxrE_line-height);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-_GCaxq_KOKTM_color);
  padding-left: var(--mixin-_GCaxq_KOKTM_padding-left);
  border-left: var(--mixin-_GCaxq_KOKTM_border-left-width)
    var(--mixin-_GCaxq_KOKTM_border-left-style)
    var(--mixin-_GCaxq_KOKTM_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-A8plrocru48Y_font-family);
  border-radius: var(--mixin-A8plrocru48Y_border-top-left-radius)
    var(--mixin-A8plrocru48Y_border-top-right-radius)
    var(--mixin-A8plrocru48Y_border-bottom-right-radius)
    var(--mixin-A8plrocru48Y_border-bottom-left-radius);
  padding: var(--mixin-A8plrocru48Y_padding-top)
    var(--mixin-A8plrocru48Y_padding-right)
    var(--mixin-A8plrocru48Y_padding-bottom)
    var(--mixin-A8plrocru48Y_padding-left);
  border-top: var(--mixin-A8plrocru48Y_border-top-width)
    var(--mixin-A8plrocru48Y_border-top-style)
    var(--mixin-A8plrocru48Y_border-top-color);
  border-right: var(--mixin-A8plrocru48Y_border-right-width)
    var(--mixin-A8plrocru48Y_border-right-style)
    var(--mixin-A8plrocru48Y_border-right-color);
  border-bottom: var(--mixin-A8plrocru48Y_border-bottom-width)
    var(--mixin-A8plrocru48Y_border-bottom-style)
    var(--mixin-A8plrocru48Y_border-bottom-color);
  border-left: var(--mixin-A8plrocru48Y_border-left-width)
    var(--mixin-A8plrocru48Y_border-left-style)
    var(--mixin-A8plrocru48Y_border-left-color);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-fMv__YCuMVbb_display);
  flex-direction: var(--mixin-fMv__YCuMVbb_flex-direction);
  align-items: var(--mixin-fMv__YCuMVbb_align-items);
  justify-content: var(--mixin-fMv__YCuMVbb_justify-content);
  list-style-position: var(--mixin-fMv__YCuMVbb_list-style-position);
  padding-left: var(--mixin-fMv__YCuMVbb_padding-left);
  position: var(--mixin-fMv__YCuMVbb_position);
  list-style-type: var(--mixin-fMv__YCuMVbb_list-style-type);
  flex-column-gap: var(--mixin-fMv__YCuMVbb_flex-column-gap);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-XVfgvGC1YhCt_display);
  flex-direction: var(--mixin-XVfgvGC1YhCt_flex-direction);
  align-items: var(--mixin-XVfgvGC1YhCt_align-items);
  justify-content: var(--mixin-XVfgvGC1YhCt_justify-content);
  list-style-position: var(--mixin-XVfgvGC1YhCt_list-style-position);
  padding-left: var(--mixin-XVfgvGC1YhCt_padding-left);
  position: var(--mixin-XVfgvGC1YhCt_position);
  list-style-type: var(--mixin-XVfgvGC1YhCt_list-style-type);
  flex-column-gap: var(--mixin-XVfgvGC1YhCt_flex-column-gap);
}
