.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.section___3B8WB {
  display: grid;
  position: sticky;
  align-content: center;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  background: var(--token-F0GhM8Mmy6S6);
  left: 0px;
  top: 0px;
  z-index: 1;
  overflow: auto;
  cursor: auto;
  backface-visibility: visible;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section___3B8WB > * {
  grid-column: 4;
}
@media (max-width: 768px) {
  .section___3B8WB {
    position: sticky;
    left: 0px;
    top: 0px;
  }
}
@media (max-width: 768px) {
  .section___3B8WB > * {
    grid-column: 4;
  }
}
.navigationBar:global(.__wab_instance) {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 0px;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  justify-self: flex-start;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 16px;
}
@media (max-width: 768px) {
  .navigationBar:global(.__wab_instance) {
    color: var(--token-S6uc0sLuszyi);
    overflow: auto;
    left: auto;
    top: auto;
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: row;
  }
}
.link__jhxAl {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.img__gxoG8 {
  object-fit: cover;
  height: 100px;
  margin-right: 0px;
}
.img__gxoG8 > picture > img {
  object-fit: cover;
}
.img__ahflU {
  object-fit: cover;
  margin-bottom: 0px;
  margin-left: 0px;
  max-width: 35px;
  width: 100%;
  min-width: 0;
}
.img__ahflU > picture > img {
  object-fit: cover;
}
@media (max-width: 768px) {
  .img__ahflU {
    max-width: 25px;
  }
}
.img__uRc2E {
  object-fit: cover;
}
.img__uRc2E > picture > img {
  object-fit: cover;
}
@media (max-width: 768px) {
  .img__uRc2E {
    height: 20px;
    width: 20px;
  }
}
.link__iKl0N {
  position: relative;
  margin-right: 0px;
  display: flex;
}
.link___1Qkw {
  position: relative;
  margin-right: 0px;
  display: flex;
}
.link__axDke {
  position: relative;
  margin-right: 0px;
  display: flex;
}
.link__gdN51 {
  position: relative;
  display: flex;
}
.link__tNomh {
  position: relative;
  display: flex;
  color: #3291ff;
}
.link__mgdPr {
  position: relative;
  display: flex;
}
.link__dSe7Z {
  display: grid;
  position: relative;
  align-content: center;
  justify-items: flex-end;
  width: 100%;
  padding-left: 0px;
  padding-right: 0;
  margin-top: 0px;
  max-width: 63px;
  color: var(--token-dMoyXbO7yWwG);
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.link__dSe7Z > * {
  grid-column: 4;
}
.svg__kzEWk {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-Nu9H9hLz4qRr);
  margin-bottom: 0px;
  margin-left: 0px;
  height: 30px;
}
@media (max-width: 768px) {
  .svg__kzEWk {
    display: none;
  }
}
.section__kUdJ {
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  display: none;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__kUdJ > * {
  grid-column: 4;
}
@media (max-width: 768px) {
  .section__kUdJ {
    display: grid;
  }
}
@media (max-width: 768px) {
  .section__kUdJ > * {
    grid-column: 4;
  }
}
.columns__rquiq {
  --plsmc-rc-col-gap: 0px;
}
.columns__rquiq {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__rquiq > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__rquiq > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (max-width: 768px) {
  .columns__rquiq {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-self: flex-start;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
    display: none;
  }
}
@media (max-width: 768px) {
  .columns__rquiq > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__uQwzH {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (max-width: 768px) {
  .column__uQwzH {
    display: none;
  }
}
.column___231Ry {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (max-width: 768px) {
  .column___231Ry {
    display: none;
  }
}
.section__jsBf {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  background: var(--token-F0GhM8Mmy6S6);
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__jsBf > * {
  grid-column: 4;
}
@media (max-width: 768px) {
  .section__jsBf > * {
    grid-column: 4;
  }
}
.columns___8YYvU {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  min-width: 0;
  padding: 8px;
}
.columns___8YYvU > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 3px);
  width: calc(100% + 3px);
  --plsmc-rc-col-gap: 3px;
}
.columns___8YYvU > :global(.__wab_flex-container) > *,
.columns___8YYvU > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns___8YYvU > :global(.__wab_flex-container) > picture > img,
.columns___8YYvU
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 3px;
}
.columns___8YYvU {
  --plsmc-rc-col-gap: 0px;
}
.columns___8YYvU > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns___8YYvU > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns___8YYvU > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (max-width: 768px) {
  .columns___8YYvU {
    width: 100%;
    height: auto;
    flex-direction: row;
    padding-top: 0px;
    min-width: 0;
    display: none;
  }
}
@media (max-width: 768px) {
  .columns___8YYvU > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 768px) {
  .columns___8YYvU > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__daJVw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 768px) {
  .column__daJVw {
    display: none;
  }
}
.button__yjjfh:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__aJNgi {
  position: relative;
  object-fit: cover;
  margin-right: 0px;
  margin-bottom: 0px;
  height: 30px;
}
.svg___3PgJg {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.column__sbAvm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 768px) {
  .column__sbAvm {
    display: none;
  }
}
.button__gmFby:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__vnlb5 {
  position: relative;
  object-fit: cover;
  height: 35px;
}
.svg__gLsTh {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.column__z3YPm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 768px) {
  .column__z3YPm {
    display: none;
  }
}
.button__rjuy0:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__aEzy {
  position: relative;
  object-fit: cover;
  height: 30px;
}
.svg___5VuFx {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.section__feb4A {
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  background: var(--token-F0GhM8Mmy6S6);
  min-width: 0;
  display: none;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__feb4A > * {
  grid-column: 4;
}
@media (max-width: 768px) {
  .section__feb4A {
    display: grid;
  }
}
@media (max-width: 768px) {
  .section__feb4A > * {
    grid-column: 4;
  }
}
.columns__zrYes {
  --plsmc-rc-col-gap: 0px;
}
.columns__zrYes {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__zrYes > :nth-child(4n + 1) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__zrYes > :nth-child(4n + 2) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__zrYes > :nth-child(4n + 3) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__zrYes > :nth-child(4n + 4) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
@media (max-width: 768px) {
  .columns__zrYes {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-self: flex-start;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
@media (max-width: 768px) {
  .columns__zrYes > :nth-child(3n + 1) {
    width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
  }
}
@media (max-width: 768px) {
  .columns__zrYes > :nth-child(3n + 2) {
    width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
  }
}
@media (max-width: 768px) {
  .columns__zrYes > :nth-child(3n + 3) {
    width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
  }
}
.column__en0BV {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (max-width: 768px) {
  .column__en0BV {
    display: none;
  }
}
.button__re3Qt:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___4KKQl {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__oQaA {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.column__vIBjx {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px 0px;
}
@media (max-width: 768px) {
  .column__vIBjx {
    display: flex;
  }
}
.button__gRLof:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-right: 0px;
}
.svg__rUobc {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 25px;
  margin-bottom: 0px;
}
.text__fxbYl {
  text-align: center;
  font-size: 12px;
  padding-right: 0px;
}
.svg__hTmTd {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.column__iaL08 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px;
}
.button__wyYvF:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__qB1F1 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 25px;
}
.text__bI7J {
  text-align: center;
  font-size: 12px;
}
.svg__vBowC {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.column__pbVir {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px;
}
.button__lc2Qi:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__l5XrN {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 20px;
}
.text___72H2J {
  text-align: center;
  font-size: 12px;
  font-weight: 500;
}
.svg___6FLbG {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.section__tQclq {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__tQclq > * {
  grid-column: 4;
}
@media (max-width: 768px) {
  .section__tQclq > * {
    grid-column: 4;
  }
}
.columns__sDkn {
  --plsmc-rc-col-gap: 0px;
}
.columns__sDkn {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-self: flex-start;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 36px 0px 0px;
}
.columns__sDkn > :nth-child(1n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (max-width: 768px) {
  .columns__sDkn {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 8px;
    padding-bottom: 0px;
    min-width: 0;
  }
}
@media (max-width: 768px) {
  .columns__sDkn > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__si67W {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.section__ltow {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  margin-right: 0px;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 36px 0;
}
.section__ltow > * {
  grid-column: 4;
}
@media (max-width: 768px) {
  .section__ltow {
    width: auto;
    padding-bottom: 8px;
    padding-top: 8px;
  }
}
@media (max-width: 768px) {
  .section__ltow > * {
    grid-column: 4;
  }
}
.columns__ppNvv {
  --plsmc-rc-col-gap: 0px;
}
.columns__ppNvv {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__ppNvv > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__ppNvv > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (max-width: 768px) {
  .columns__ppNvv {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 768px) {
  .columns__ppNvv > :nth-child(2n + 1) {
    width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
  }
}
@media (max-width: 768px) {
  .columns__ppNvv > :nth-child(2n + 2) {
    width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
  }
}
.column__sp0Aa {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 768px) {
  .column__sp0Aa {
    align-items: flex-start;
    justify-content: center;
  }
}
.link__vJeXc {
  position: relative;
  display: flex;
}
.svg__pzNqe {
  object-fit: cover;
  max-width: 100%;
  height: 25px;
  color: var(--token-WxvvgatuPYoJ);
}
@media (max-width: 768px) {
  .svg__pzNqe {
    color: var(--token-WxvvgatuPYoJ);
  }
}
.column__bd1Nv {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__bk97S {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  font-weight: 300;
  text-align: right;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__bk97S {
    font-size: 18px;
  }
}
.text__nxbwz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 26px;
  font-weight: 500;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__nxbwz {
    font-size: 21px;
  }
}
.text__rbYsd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 300;
  font-size: 24px;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__rbYsd {
    font-size: 18px;
  }
}
.section__eZKmY {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__eZKmY > * {
  grid-column: 4;
}
.img__eBh3Z {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  justify-self: flex-start;
  min-width: 0;
  border-radius: 6px;
}
.img__eBh3Z > picture > img {
  object-fit: cover;
}
@media (max-width: 768px) {
  .img__eBh3Z {
    border-radius: 6px;
  }
}
.section__mUqC3 {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  margin-right: 0px;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 36px 0;
}
.section__mUqC3 > * {
  grid-column: 4;
}
@media (max-width: 768px) {
  .section__mUqC3 {
    width: auto;
    padding-bottom: 0px;
    padding-top: 8px;
  }
}
@media (max-width: 768px) {
  .section__mUqC3 > * {
    grid-column: 4;
  }
}
.text__inuiB {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 300;
  font-size: 24px;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__inuiB {
    font-size: 18px;
    padding-top: 0px;
  }
}
.section__bg8HK {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 36px 0;
}
.section__bg8HK > * {
  grid-column: 4;
}
@media (max-width: 768px) {
  .section__bg8HK {
    padding-top: 8px;
    padding-bottom: 8px;
    display: none;
  }
}
@media (max-width: 768px) {
  .section__bg8HK > * {
    grid-column: 4;
  }
}
.columns__touk {
  --plsmc-rc-col-gap: 0px;
}
.columns__touk {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-self: flex-start;
  min-width: 0;
  padding: 8px 0px;
}
.columns__touk > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__touk > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (max-width: 768px) {
  .columns__touk {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 768px) {
  .columns__touk > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__cp6P6 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.img__xjneg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  border-radius: 6px;
}
.img__xjneg > picture > img {
  object-fit: cover;
}
@media (max-width: 768px) {
  .img__xjneg {
    margin-right: 0px;
  }
}
.column___2Emyf {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
.text__q0Hsp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  font-weight: 300;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__q0Hsp {
    font-size: 21px;
  }
}
.text__xnRtY {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 26px;
  font-weight: 500;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__xnRtY {
    font-size: 21px;
    padding-top: 0px;
  }
}
.text__doFRb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 300;
  font-size: 24px;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__doFRb {
    font-size: 18px;
  }
}
.section___197H3 {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 36px 0;
}
.section___197H3 > * {
  grid-column: 4;
}
@media (max-width: 768px) {
  .section___197H3 {
    padding-top: 8px;
    padding-bottom: 8px;
    display: none;
  }
}
@media (max-width: 768px) {
  .section___197H3 > * {
    grid-column: 4;
  }
}
.columns___0Ceo3 {
  --plsmc-rc-col-gap: 0px;
}
.columns___0Ceo3 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-self: flex-start;
  min-width: 0;
  padding: 8px 0px;
}
.columns___0Ceo3 > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns___0Ceo3 > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (max-width: 768px) {
  .columns___0Ceo3 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 768px) {
  .columns___0Ceo3 > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__zLuCz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.img__juymU {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  border-radius: 6px;
}
.img__juymU > picture > img {
  object-fit: cover;
}
@media (max-width: 768px) {
  .img__juymU {
    margin-right: 0px;
  }
}
.column__igOH {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
.text__kme1F {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  font-weight: 300;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__kme1F {
    font-size: 21px;
  }
}
.text__qqolu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 26px;
  font-weight: 500;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__qqolu {
    font-size: 21px;
  }
}
.text__qL6T {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 300;
  font-size: 24px;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__qL6T {
    font-size: 18px;
  }
}
.section__v5QR {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 36px 0;
}
.section__v5QR > * {
  grid-column: 4;
}
@media (max-width: 768px) {
  .section__v5QR {
    padding-top: 8px;
    padding-bottom: 8px;
    display: none;
  }
}
@media (max-width: 768px) {
  .section__v5QR > * {
    grid-column: 4;
  }
}
.columns__yCHhn {
  --plsmc-rc-col-gap: 0px;
}
.columns__yCHhn {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-self: flex-start;
  min-width: 0;
  padding: 8px 0px;
}
.columns__yCHhn > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__yCHhn > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (max-width: 768px) {
  .columns__yCHhn {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 768px) {
  .columns__yCHhn > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__rViN {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.img__qTf2E {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  border-radius: 6px;
}
.img__qTf2E > picture > img {
  object-fit: cover;
}
@media (max-width: 768px) {
  .img__qTf2E {
    margin-right: 0px;
  }
}
.column__fG1Tr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
.text__hIgdy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  font-weight: 300;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__hIgdy {
    font-size: 21px;
  }
}
.text__iJuji {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 26px;
  font-weight: 500;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__iJuji {
    font-size: 21px;
  }
}
.text__xYfnT {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 300;
  font-size: 24px;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__xYfnT {
    font-size: 18px;
  }
}
.section__rwo8K {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 36px 0;
}
.section__rwo8K > * {
  grid-column: 4;
}
@media (max-width: 768px) {
  .section__rwo8K {
    padding-top: 8px;
    padding-bottom: 8px;
    display: none;
  }
}
@media (max-width: 768px) {
  .section__rwo8K > * {
    grid-column: 4;
  }
}
.columns__e00CG {
  --plsmc-rc-col-gap: 0px;
}
.columns__e00CG {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-self: flex-start;
  min-width: 0;
  padding: 8px 0px;
}
.columns__e00CG > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__e00CG > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (max-width: 768px) {
  .columns__e00CG {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 768px) {
  .columns__e00CG > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__t4LmJ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.img___7Ej3 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  border-radius: 6px;
}
.img___7Ej3 > picture > img {
  object-fit: cover;
}
@media (max-width: 768px) {
  .img___7Ej3 {
    margin-right: 0px;
  }
}
.column__bkdl2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
.text__enJdm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  font-weight: 300;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__enJdm {
    font-size: 21px;
  }
}
.text__pc1Lw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 26px;
  font-weight: 500;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__pc1Lw {
    font-size: 21px;
  }
}
.text__n5Ezn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 300;
  font-size: 24px;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__n5Ezn {
    font-size: 18px;
  }
}
.section__lV5Mv {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 36px 0;
}
.section__lV5Mv > * {
  grid-column: 4;
}
@media (max-width: 768px) {
  .section__lV5Mv {
    padding-top: 8px;
    padding-bottom: 8px;
    display: none;
  }
}
@media (max-width: 768px) {
  .section__lV5Mv > * {
    grid-column: 4;
  }
}
.columns__eqUz7 {
  --plsmc-rc-col-gap: 0px;
}
.columns__eqUz7 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-self: flex-start;
  min-width: 0;
  padding: 8px 0px;
}
.columns__eqUz7 > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__eqUz7 > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (max-width: 768px) {
  .columns__eqUz7 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 768px) {
  .columns__eqUz7 > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__xhE5 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.img__bMZt1 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  border-radius: 6px;
}
.img__bMZt1 > picture > img {
  object-fit: cover;
}
@media (max-width: 768px) {
  .img__bMZt1 {
    margin-right: 0px;
  }
}
.column__tlseu {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
.text__paHhm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  font-weight: 300;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__paHhm {
    font-size: 21px;
  }
}
.text__av3Vh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 26px;
  font-weight: 500;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__av3Vh {
    font-size: 21px;
  }
}
.text__vyC8T {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 300;
  font-size: 24px;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__vyC8T {
    font-size: 18px;
  }
}
.section__vMoA {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 36px 0;
}
.section__vMoA > * {
  grid-column: 4;
}
@media (max-width: 768px) {
  .section__vMoA {
    padding-top: 8px;
    padding-bottom: 8px;
    display: none;
  }
}
@media (max-width: 768px) {
  .section__vMoA > * {
    grid-column: 4;
  }
}
.columns__mFjX {
  --plsmc-rc-col-gap: 0px;
}
.columns__mFjX {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-self: flex-start;
  min-width: 0;
  padding: 8px 0px;
}
.columns__mFjX > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__mFjX > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (max-width: 768px) {
  .columns__mFjX {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 768px) {
  .columns__mFjX > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__db6Up {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.img___5WTf {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  border-radius: 6px;
}
.img___5WTf > picture > img {
  object-fit: cover;
}
@media (max-width: 768px) {
  .img___5WTf {
    margin-right: 0px;
  }
}
.column__cu1C3 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
.text__wLa0S {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  font-weight: 300;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__wLa0S {
    font-size: 21px;
  }
}
.text__whDxo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 26px;
  font-weight: 500;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__whDxo {
    font-size: 21px;
  }
}
.text__mqxAi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 300;
  font-size: 24px;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__mqxAi {
    font-size: 18px;
  }
}
.section__d5FD {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__d5FD > * {
  grid-column: 4;
}
@media (max-width: 768px) {
  .section__d5FD > * {
    grid-column: 4;
  }
}
.columns__hf7Ce {
  --plsmc-rc-col-gap: 0px;
}
.columns__hf7Ce {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-self: flex-start;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 36px 0px;
}
.columns__hf7Ce > :nth-child(1n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (max-width: 768px) {
  .columns__hf7Ce {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 8px;
    padding-bottom: 8px;
    min-width: 0;
    display: none;
  }
}
@media (max-width: 768px) {
  .columns__hf7Ce > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__tTg8P {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 768px) {
  .column__tTg8P {
    display: none;
  }
}
.section___75MvD {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section___75MvD > * {
  grid-column: 4;
}
.img__baTsg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: auto;
  border-radius: 6px;
}
.img__baTsg > picture > img {
  object-fit: cover;
}
@media (max-width: 768px) {
  .img__baTsg {
    display: none !important;
    border-radius: 6px;
  }
}
.section__mqEgp {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: auto;
  margin-right: 0px;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 36px 0;
}
.section__mqEgp > * {
  grid-column: 4;
}
@media (max-width: 768px) {
  .section__mqEgp {
    width: auto;
    display: none;
  }
}
@media (max-width: 768px) {
  .section__mqEgp > * {
    grid-column: 4;
  }
}
.text__lHmB2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  font-weight: 300;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__lHmB2 {
    display: none;
  }
}
.link__i7QtD {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 26px;
  font-weight: 500;
  color: #535353d9;
  min-width: 0;
}
@media (max-width: 768px) {
  .link__i7QtD {
    color: var(--token-WxvvgatuPYoJ);
    display: none;
  }
}
.text__m6DRv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 300;
  font-size: 24px;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__m6DRv {
    display: none;
  }
}
.footerMain:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (max-width: 768px) {
  .footerMain:global(.__wab_instance) {
    display: none;
  }
}
.section__rkHeY {
  display: grid;
  position: relative;
  align-content: center;
  justify-items: center;
  width: 100%;
  background: #ffffff;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__rkHeY > * {
  grid-column: 4;
}
@media (max-width: 768px) {
  .section__rkHeY {
    display: none;
  }
}
@media (max-width: 768px) {
  .section__rkHeY > * {
    grid-column: 4;
  }
}
.columns__ikUej {
  --plsmc-rc-col-gap: 0px;
}
.columns__ikUej {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__ikUej > :nth-child(1n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (max-width: 768px) {
  .columns__ikUej {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 768px) {
  .columns__ikUej > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__zSp7 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.columns__iNifL {
  --plsmc-rc-col-gap: 0px;
}
.columns__iNifL {
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 8px;
}
.columns__iNifL > :nth-child(5n + 1) {
  width: calc((100% - 5 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__iNifL > :nth-child(5n + 2) {
  width: calc((100% - 5 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__iNifL > :nth-child(5n + 3) {
  width: calc((100% - 5 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns__iNifL > :nth-child(5n + 4) {
  width: calc((100% - 5 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns__iNifL > :nth-child(5n + 5) {
  width: calc((100% - 5 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
@media (max-width: 768px) {
  .columns__iNifL {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 768px) {
  .columns__iNifL > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__qkigc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text___7Xb4H {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  min-width: 0;
}
.column__pVJfQ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__vR3P {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 80px;
  flex-shrink: 0;
}
.img__vR3P > picture > img {
  object-fit: cover;
}
.column__vhun4 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__wOikB {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 62px;
  margin-right: 0px;
  flex-shrink: 0;
}
.img__wOikB > picture > img {
  object-fit: cover;
}
.column__uruaw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__j2Ic2 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 66px;
  margin-bottom: 0px;
  flex-shrink: 0;
}
.img__j2Ic2 > picture > img {
  object-fit: cover;
}
.column__sQeYr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__cw4WR {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 80px;
  flex-shrink: 0;
}
.img__cw4WR > picture > img {
  object-fit: cover;
}
.pageMetadataOverride:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.section__z16Jw {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 36px 0;
}
.section__z16Jw > * {
  grid-column: 4;
}
@media (max-width: 768px) {
  .section__z16Jw {
    padding-top: 8px;
    padding-bottom: 8px;
    display: none;
  }
}
@media (max-width: 768px) {
  .section__z16Jw > * {
    grid-column: 4;
  }
}
.columns__oWCyP {
  --plsmc-rc-col-gap: 0px;
}
.columns__oWCyP {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-self: flex-start;
  min-width: 0;
  padding: 8px 0px;
}
.columns__oWCyP > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__oWCyP > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (max-width: 768px) {
  .columns__oWCyP {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 768px) {
  .columns__oWCyP > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__qyXsN {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.img__x0S4H {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  border-radius: 6px;
}
.img__x0S4H > picture > img {
  object-fit: cover;
}
@media (max-width: 768px) {
  .img__x0S4H {
    margin-right: 0px;
  }
}
.column__vqaLf {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
.text__eAbCz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  font-weight: 300;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__eAbCz {
    font-size: 21px;
  }
}
.text__tzYIq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 26px;
  font-weight: 500;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__tzYIq {
    font-size: 21px;
  }
}
.text__kn9OR {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 300;
  font-size: 24px;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__kn9OR {
    font-size: 18px;
  }
}
.section___42Lk {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 36px 0;
}
.section___42Lk > * {
  grid-column: 4;
}
@media (max-width: 768px) {
  .section___42Lk {
    padding-top: 8px;
    padding-bottom: 8px;
    display: none;
  }
}
@media (max-width: 768px) {
  .section___42Lk > * {
    grid-column: 4;
  }
}
.columns__wHpmx {
  --plsmc-rc-col-gap: 0px;
}
.columns__wHpmx {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-self: flex-start;
  min-width: 0;
  padding: 8px 0px;
}
.columns__wHpmx > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__wHpmx > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (max-width: 768px) {
  .columns__wHpmx {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 768px) {
  .columns__wHpmx > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__bVSb1 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.img__igkTd {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  border-radius: 6px;
}
.img__igkTd > picture > img {
  object-fit: cover;
}
@media (max-width: 768px) {
  .img__igkTd {
    margin-right: 0px;
  }
}
.column__gXtkz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
.text__dUxSs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  font-weight: 300;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__dUxSs {
    font-size: 21px;
  }
}
.text__oWAgZ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 26px;
  font-weight: 500;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__oWAgZ {
    font-size: 21px;
  }
}
.text__p5RJ5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 300;
  font-size: 24px;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__p5RJ5 {
    font-size: 18px;
  }
}
.section__glqUd {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 36px 0;
}
.section__glqUd > * {
  grid-column: 4;
}
@media (max-width: 768px) {
  .section__glqUd {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}
@media (max-width: 768px) {
  .section__glqUd > * {
    grid-column: 4;
  }
}
.columns___521YF {
  --plsmc-rc-col-gap: 0px;
}
.columns___521YF {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-self: flex-start;
  min-width: 0;
  padding: 8px 0px;
}
.columns___521YF > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns___521YF > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (max-width: 768px) {
  .columns___521YF {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 768px) {
  .columns___521YF > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__jrFsc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.img__iG7DL {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  border-radius: 6px;
}
.img__iG7DL > picture > img {
  object-fit: cover;
}
@media (max-width: 768px) {
  .img__iG7DL {
    margin-right: 0px;
  }
}
.column__fc8Kz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
.text__r6NZq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  font-weight: 300;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__r6NZq {
    font-size: 21px;
  }
}
.text__taFB {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 26px;
  font-weight: 500;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__taFB {
    font-size: 21px;
  }
}
.text__ytRdl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 300;
  font-size: 24px;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__ytRdl {
    font-size: 18px;
  }
}
