.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.section___5DuG {
  display: grid;
  position: sticky;
  align-content: center;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  background: var(--token-F0GhM8Mmy6S6);
  left: 0px;
  top: 0px;
  z-index: 1;
  overflow: auto;
  cursor: auto;
  backface-visibility: visible;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section___5DuG > * {
  grid-column: 4;
}
@media (max-width: 768px) {
  .section___5DuG {
    position: sticky;
    left: 0px;
    top: 0px;
  }
}
@media (max-width: 768px) {
  .section___5DuG > * {
    grid-column: 4;
  }
}
.navigationBar:global(.__wab_instance) {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 0px;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  justify-self: flex-start;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 16px;
}
@media (max-width: 768px) {
  .navigationBar:global(.__wab_instance) {
    color: var(--token-S6uc0sLuszyi);
    overflow: auto;
    left: auto;
    top: auto;
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: row;
  }
}
.link__ohTZ {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.img__eEcAt {
  object-fit: cover;
  height: 100px;
  margin-right: 0px;
}
.img__eEcAt > picture > img {
  object-fit: cover;
}
.img__c3ADz {
  object-fit: cover;
  margin-bottom: 0px;
  margin-left: 0px;
  max-width: 35px;
  width: 100%;
  min-width: 0;
}
.img__c3ADz > picture > img {
  object-fit: cover;
}
@media (max-width: 768px) {
  .img__c3ADz {
    max-width: 25px;
  }
}
.img__xiYma {
  object-fit: cover;
}
.img__xiYma > picture > img {
  object-fit: cover;
}
@media (max-width: 768px) {
  .img__xiYma {
    height: 20px;
    width: 20px;
  }
}
.link__pFtqW {
  position: relative;
  margin-right: 0px;
  display: flex;
}
.link__slm3X {
  position: relative;
  margin-right: 0px;
  display: flex;
}
.link__j8SPy {
  position: relative;
  margin-right: 0px;
  display: flex;
}
.link__twpYu {
  position: relative;
  display: flex;
}
.link__duim {
  position: relative;
  display: flex;
  color: #3291ff;
}
.link__fmob {
  position: relative;
  display: flex;
}
.link__oNydr {
  display: grid;
  position: relative;
  align-content: center;
  justify-items: flex-end;
  width: 100%;
  padding-left: 0px;
  padding-right: 0;
  margin-top: 0px;
  max-width: 63px;
  color: var(--token-dMoyXbO7yWwG);
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.link__oNydr > * {
  grid-column: 4;
}
.svg__j1Ve {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-Nu9H9hLz4qRr);
  margin-bottom: 0px;
  margin-left: 0px;
  height: 30px;
}
@media (max-width: 768px) {
  .svg__j1Ve {
    display: none;
  }
}
.section___8Q3YY {
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  display: none;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section___8Q3YY > * {
  grid-column: 4;
}
@media (max-width: 768px) {
  .section___8Q3YY {
    display: grid;
  }
}
@media (max-width: 768px) {
  .section___8Q3YY > * {
    grid-column: 4;
  }
}
.columns__n3KhR {
  --plsmc-rc-col-gap: 0px;
}
.columns__n3KhR {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__n3KhR > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__n3KhR > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (max-width: 768px) {
  .columns__n3KhR {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-self: flex-start;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
    display: none;
  }
}
@media (max-width: 768px) {
  .columns__n3KhR > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__oZZhM {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (max-width: 768px) {
  .column__oZZhM {
    display: none;
  }
}
.column__gudcc {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (max-width: 768px) {
  .column__gudcc {
    display: none;
  }
}
.section__stxN {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  background: var(--token-F0GhM8Mmy6S6);
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__stxN > * {
  grid-column: 4;
}
@media (max-width: 768px) {
  .section__stxN > * {
    grid-column: 4;
  }
}
.columns__wiRqt {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  min-width: 0;
  padding: 8px;
}
.columns__wiRqt > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 3px);
  width: calc(100% + 3px);
  --plsmc-rc-col-gap: 3px;
}
.columns__wiRqt > :global(.__wab_flex-container) > *,
.columns__wiRqt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__wiRqt > :global(.__wab_flex-container) > picture > img,
.columns__wiRqt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 3px;
}
.columns__wiRqt {
  --plsmc-rc-col-gap: 0px;
}
.columns__wiRqt > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__wiRqt > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__wiRqt > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (max-width: 768px) {
  .columns__wiRqt {
    width: 100%;
    height: auto;
    flex-direction: row;
    padding-top: 0px;
    min-width: 0;
    display: none;
  }
}
@media (max-width: 768px) {
  .columns__wiRqt > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 768px) {
  .columns__wiRqt > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__nFyKn {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 768px) {
  .column__nFyKn {
    display: none;
  }
}
.button__aCuVl:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__qwIq7 {
  position: relative;
  object-fit: cover;
  margin-right: 0px;
  margin-bottom: 0px;
  height: 30px;
}
.svg__pLpJd {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.column__rltbK {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 768px) {
  .column__rltbK {
    display: none;
  }
}
.button__floQm:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__uzI0I {
  position: relative;
  object-fit: cover;
  height: 35px;
}
.svg__rjU0 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.column__ub8Oh {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 768px) {
  .column__ub8Oh {
    display: none;
  }
}
.button__rqKm2:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__uWynv {
  position: relative;
  object-fit: cover;
  height: 30px;
}
.svg__si4Ri {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.section__nGnj8 {
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  background: var(--token-F0GhM8Mmy6S6);
  min-width: 0;
  display: none;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__nGnj8 > * {
  grid-column: 4;
}
@media (max-width: 768px) {
  .section__nGnj8 {
    display: grid;
  }
}
@media (max-width: 768px) {
  .section__nGnj8 > * {
    grid-column: 4;
  }
}
.columns__hphMm {
  --plsmc-rc-col-gap: 0px;
}
.columns__hphMm {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__hphMm > :nth-child(4n + 1) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__hphMm > :nth-child(4n + 2) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__hphMm > :nth-child(4n + 3) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__hphMm > :nth-child(4n + 4) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
@media (max-width: 768px) {
  .columns__hphMm {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-self: flex-start;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
@media (max-width: 768px) {
  .columns__hphMm > :nth-child(3n + 1) {
    width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
  }
}
@media (max-width: 768px) {
  .columns__hphMm > :nth-child(3n + 2) {
    width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
  }
}
@media (max-width: 768px) {
  .columns__hphMm > :nth-child(3n + 3) {
    width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
  }
}
.column__llmvw {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (max-width: 768px) {
  .column__llmvw {
    display: none;
  }
}
.button__je4Oh:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__clf2A {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__z9RSq {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.column__q2Xzy {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px 0px;
}
@media (max-width: 768px) {
  .column__q2Xzy {
    display: flex;
  }
}
.button__ki1Wk:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-right: 0px;
}
.svg__nze2D {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 25px;
  margin-bottom: 0px;
}
.text__yMffa {
  text-align: center;
  font-size: 12px;
  padding-right: 0px;
}
.svg__lXm90 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.column__iMsCj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px;
}
.button__u3QFm:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__fmb1R {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 25px;
}
.text__vSbRm {
  text-align: center;
  font-size: 12px;
}
.svg__jnb6W {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.column__ew2EX {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px;
}
.button__agUgm:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__snMwu {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 20px;
}
.text__jbtTc {
  text-align: center;
  font-size: 12px;
  font-weight: 500;
}
.svg__iKxSg {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.section__e3Kd0 {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__e3Kd0 > * {
  grid-column: 4;
}
@media (max-width: 768px) {
  .section__e3Kd0 > * {
    grid-column: 4;
  }
}
.columns__uboOf {
  --plsmc-rc-col-gap: 0px;
}
.columns__uboOf {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-self: flex-start;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 36px 0px 0px;
}
.columns__uboOf > :nth-child(1n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (max-width: 768px) {
  .columns__uboOf {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 8px;
    padding-bottom: 0px;
    min-width: 0;
  }
}
@media (max-width: 768px) {
  .columns__uboOf > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__kyhmA {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.section__ndXch {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  margin-right: 0px;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 36px 0;
}
.section__ndXch > * {
  grid-column: 4;
}
@media (max-width: 768px) {
  .section__ndXch {
    width: auto;
    padding-bottom: 8px;
    padding-top: 8px;
  }
}
@media (max-width: 768px) {
  .section__ndXch > * {
    grid-column: 4;
  }
}
.columns__zjAc4 {
  --plsmc-rc-col-gap: 0px;
}
.columns__zjAc4 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__zjAc4 > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__zjAc4 > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (max-width: 768px) {
  .columns__zjAc4 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 768px) {
  .columns__zjAc4 > :nth-child(2n + 1) {
    width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
  }
}
@media (max-width: 768px) {
  .columns__zjAc4 > :nth-child(2n + 2) {
    width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
  }
}
.column__njR9P {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 768px) {
  .column__njR9P {
    align-items: flex-start;
    justify-content: center;
  }
}
.link__z0KtO {
  position: relative;
  display: flex;
}
.svg___5Eryh {
  object-fit: cover;
  max-width: 100%;
  height: 25px;
  color: var(--token-WxvvgatuPYoJ);
}
@media (max-width: 768px) {
  .svg___5Eryh {
    color: var(--token-WxvvgatuPYoJ);
  }
}
.column__asz9 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text___8RlwN {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  font-weight: 300;
  text-align: right;
  min-width: 0;
}
@media (max-width: 768px) {
  .text___8RlwN {
    font-size: 18px;
  }
}
.text__mtk9C {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 26px;
  font-weight: 500;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__mtk9C {
    font-size: 21px;
  }
}
.text__pdelr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 300;
  font-size: 24px;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__pdelr {
    font-size: 18px;
  }
}
.section__qhQ3R {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__qhQ3R > * {
  grid-column: 4;
}
.images09 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  justify-self: flex-start;
  min-width: 0;
  border-radius: 6px;
}
.images09 > picture > img {
  object-fit: cover;
}
@media (max-width: 768px) {
  .images09 {
    border-radius: 6px;
  }
}
.section__boQhZ {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  margin-right: 0px;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 36px 0;
}
.section__boQhZ > * {
  grid-column: 4;
}
@media (max-width: 768px) {
  .section__boQhZ {
    width: auto;
    padding-bottom: 0px;
    padding-top: 8px;
  }
}
@media (max-width: 768px) {
  .section__boQhZ > * {
    grid-column: 4;
  }
}
.text__ddnF8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 300;
  font-size: 24px;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__ddnF8 {
    font-size: 18px;
  }
}
.section__qSvEf {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 36px 0;
}
.section__qSvEf > * {
  grid-column: 4;
}
@media (max-width: 768px) {
  .section__qSvEf {
    padding-top: 8px;
    padding-bottom: 8px;
    display: none;
  }
}
@media (max-width: 768px) {
  .section__qSvEf > * {
    grid-column: 4;
  }
}
.columns__latc {
  --plsmc-rc-col-gap: 0px;
}
.columns__latc {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-self: flex-start;
  min-width: 0;
  padding: 8px 0px;
}
.columns__latc > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__latc > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (max-width: 768px) {
  .columns__latc {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 768px) {
  .columns__latc > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___6LIf9 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.img__wSqEh {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  border-radius: 6px;
}
.img__wSqEh > picture > img {
  object-fit: cover;
}
@media (max-width: 768px) {
  .img__wSqEh {
    margin-right: 0px;
  }
}
.column__wzws5 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
.text___1BYjg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  font-weight: 300;
  min-width: 0;
}
@media (max-width: 768px) {
  .text___1BYjg {
    font-size: 21px;
  }
}
.text__yr6Qy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 26px;
  font-weight: 500;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__yr6Qy {
    font-size: 21px;
    padding-top: 0px;
  }
}
.text__dWrE {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 300;
  font-size: 24px;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__dWrE {
    font-size: 18px;
  }
}
.section__xr8Vd {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 36px 0;
}
.section__xr8Vd > * {
  grid-column: 4;
}
@media (max-width: 768px) {
  .section__xr8Vd {
    padding-top: 8px;
    padding-bottom: 8px;
    display: none;
  }
}
@media (max-width: 768px) {
  .section__xr8Vd > * {
    grid-column: 4;
  }
}
.columns__pHiBe {
  --plsmc-rc-col-gap: 0px;
}
.columns__pHiBe {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-self: flex-start;
  min-width: 0;
  padding: 8px 0px;
}
.columns__pHiBe > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__pHiBe > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (max-width: 768px) {
  .columns__pHiBe {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 768px) {
  .columns__pHiBe > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__ctZi {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.img__fEnZl {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  border-radius: 6px;
}
.img__fEnZl > picture > img {
  object-fit: cover;
}
@media (max-width: 768px) {
  .img__fEnZl {
    margin-right: 0px;
  }
}
.column__l658C {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
.text___8XH6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  font-weight: 300;
  min-width: 0;
}
@media (max-width: 768px) {
  .text___8XH6 {
    font-size: 21px;
  }
}
.text__hJi6U {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 26px;
  font-weight: 500;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__hJi6U {
    font-size: 21px;
  }
}
.text___2NZoi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 300;
  font-size: 24px;
  min-width: 0;
}
@media (max-width: 768px) {
  .text___2NZoi {
    font-size: 18px;
  }
}
.section__dOhjS {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 36px 0;
}
.section__dOhjS > * {
  grid-column: 4;
}
@media (max-width: 768px) {
  .section__dOhjS {
    padding-top: 8px;
    padding-bottom: 8px;
    display: none;
  }
}
@media (max-width: 768px) {
  .section__dOhjS > * {
    grid-column: 4;
  }
}
.columns__vlU66 {
  --plsmc-rc-col-gap: 0px;
}
.columns__vlU66 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-self: flex-start;
  min-width: 0;
  padding: 8px 0px;
}
.columns__vlU66 > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__vlU66 > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (max-width: 768px) {
  .columns__vlU66 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 768px) {
  .columns__vlU66 > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__khSvr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.img__j9VjP {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  border-radius: 6px;
}
.img__j9VjP > picture > img {
  object-fit: cover;
}
@media (max-width: 768px) {
  .img__j9VjP {
    margin-right: 0px;
  }
}
.column__ujfzH {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
.text__eyrs6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  font-weight: 300;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__eyrs6 {
    font-size: 21px;
  }
}
.text__lkg7E {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 26px;
  font-weight: 500;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__lkg7E {
    font-size: 21px;
  }
}
.text__wTtyg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 300;
  font-size: 24px;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__wTtyg {
    font-size: 18px;
  }
}
.section__f4UBm {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 36px 0;
}
.section__f4UBm > * {
  grid-column: 4;
}
@media (max-width: 768px) {
  .section__f4UBm {
    padding-top: 8px;
    padding-bottom: 8px;
    display: none;
  }
}
@media (max-width: 768px) {
  .section__f4UBm > * {
    grid-column: 4;
  }
}
.columns__aeOai {
  --plsmc-rc-col-gap: 0px;
}
.columns__aeOai {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-self: flex-start;
  min-width: 0;
  padding: 8px 0px;
}
.columns__aeOai > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__aeOai > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (max-width: 768px) {
  .columns__aeOai {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 768px) {
  .columns__aeOai > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___8Uh63 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.img__irguu {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  border-radius: 6px;
}
.img__irguu > picture > img {
  object-fit: cover;
}
@media (max-width: 768px) {
  .img__irguu {
    margin-right: 0px;
  }
}
.column__n4Dzb {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
.text__tp2Dq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  font-weight: 300;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__tp2Dq {
    font-size: 21px;
  }
}
.text__hIcwV {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 26px;
  font-weight: 500;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__hIcwV {
    font-size: 21px;
  }
}
.text___44W97 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 300;
  font-size: 24px;
  min-width: 0;
}
@media (max-width: 768px) {
  .text___44W97 {
    font-size: 18px;
  }
}
.section__pEt0K {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 36px 0;
}
.section__pEt0K > * {
  grid-column: 4;
}
@media (max-width: 768px) {
  .section__pEt0K {
    padding-top: 8px;
    padding-bottom: 8px;
    display: none;
  }
}
@media (max-width: 768px) {
  .section__pEt0K > * {
    grid-column: 4;
  }
}
.columns__ryIu {
  --plsmc-rc-col-gap: 0px;
}
.columns__ryIu {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-self: flex-start;
  min-width: 0;
  padding: 8px 0px;
}
.columns__ryIu > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__ryIu > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (max-width: 768px) {
  .columns__ryIu {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 768px) {
  .columns__ryIu > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__otbM {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.img__zvraf {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  border-radius: 6px;
}
.img__zvraf > picture > img {
  object-fit: cover;
}
@media (max-width: 768px) {
  .img__zvraf {
    margin-right: 0px;
  }
}
.column__jEhMo {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
.text__djj7T {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  font-weight: 300;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__djj7T {
    font-size: 21px;
  }
}
.text__xP6Lh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 26px;
  font-weight: 500;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__xP6Lh {
    font-size: 21px;
  }
}
.text__sAr8W {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 300;
  font-size: 24px;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__sAr8W {
    font-size: 18px;
  }
}
.section__nIseb {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 36px 0;
}
.section__nIseb > * {
  grid-column: 4;
}
@media (max-width: 768px) {
  .section__nIseb {
    padding-top: 8px;
    padding-bottom: 8px;
    display: none;
  }
}
@media (max-width: 768px) {
  .section__nIseb > * {
    grid-column: 4;
  }
}
.columns__cpr0H {
  --plsmc-rc-col-gap: 0px;
}
.columns__cpr0H {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-self: flex-start;
  min-width: 0;
  padding: 8px 0px;
}
.columns__cpr0H > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__cpr0H > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (max-width: 768px) {
  .columns__cpr0H {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 768px) {
  .columns__cpr0H > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__mevAa {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.img__tUMga {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  border-radius: 6px;
}
.img__tUMga > picture > img {
  object-fit: cover;
}
@media (max-width: 768px) {
  .img__tUMga {
    margin-right: 0px;
  }
}
.column__nnMKo {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
.text__tmKMc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  font-weight: 300;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__tmKMc {
    font-size: 21px;
  }
}
.text__wt0Fj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 26px;
  font-weight: 500;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__wt0Fj {
    font-size: 21px;
  }
}
.text__j1DT {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 300;
  font-size: 24px;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__j1DT {
    font-size: 18px;
  }
}
.section__jWzTm {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__jWzTm > * {
  grid-column: 4;
}
@media (max-width: 768px) {
  .section__jWzTm > * {
    grid-column: 4;
  }
}
.columns__i60U {
  --plsmc-rc-col-gap: 0px;
}
.columns__i60U {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-self: flex-start;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 36px 0px;
}
.columns__i60U > :nth-child(1n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (max-width: 768px) {
  .columns__i60U {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 8px;
    padding-bottom: 8px;
    min-width: 0;
    display: none;
  }
}
@media (max-width: 768px) {
  .columns__i60U > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__gmjFd {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 768px) {
  .column__gmjFd {
    display: none;
  }
}
.section__krv2E {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__krv2E > * {
  grid-column: 4;
}
.img___0J3W {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: auto;
  border-radius: 6px;
}
.img___0J3W > picture > img {
  object-fit: cover;
}
@media (max-width: 768px) {
  .img___0J3W {
    display: none !important;
    border-radius: 6px;
  }
}
.section__iXTvZ {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: auto;
  margin-right: 0px;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 36px 0;
}
.section__iXTvZ > * {
  grid-column: 4;
}
@media (max-width: 768px) {
  .section__iXTvZ {
    width: auto;
    display: none;
  }
}
@media (max-width: 768px) {
  .section__iXTvZ > * {
    grid-column: 4;
  }
}
.text__nisMl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  font-weight: 300;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__nisMl {
    display: none;
  }
}
.link___0Nhm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 26px;
  font-weight: 500;
  color: #535353d9;
  min-width: 0;
}
@media (max-width: 768px) {
  .link___0Nhm {
    color: var(--token-WxvvgatuPYoJ);
    display: none;
  }
}
.text__mZoz8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 300;
  font-size: 24px;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__mZoz8 {
    display: none;
  }
}
.footerMain:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (max-width: 768px) {
  .footerMain:global(.__wab_instance) {
    display: none;
  }
}
.section__pTmKm {
  display: grid;
  position: relative;
  align-content: center;
  justify-items: center;
  width: 100%;
  background: #ffffff;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__pTmKm > * {
  grid-column: 4;
}
@media (max-width: 768px) {
  .section__pTmKm {
    display: none;
  }
}
@media (max-width: 768px) {
  .section__pTmKm > * {
    grid-column: 4;
  }
}
.columns___1SECv {
  --plsmc-rc-col-gap: 0px;
}
.columns___1SECv {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns___1SECv > :nth-child(1n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (max-width: 768px) {
  .columns___1SECv {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 768px) {
  .columns___1SECv > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__jmsVa {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.columns__vfXvM {
  --plsmc-rc-col-gap: 0px;
}
.columns__vfXvM {
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 8px;
}
.columns__vfXvM > :nth-child(5n + 1) {
  width: calc((100% - 5 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__vfXvM > :nth-child(5n + 2) {
  width: calc((100% - 5 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__vfXvM > :nth-child(5n + 3) {
  width: calc((100% - 5 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns__vfXvM > :nth-child(5n + 4) {
  width: calc((100% - 5 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns__vfXvM > :nth-child(5n + 5) {
  width: calc((100% - 5 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
@media (max-width: 768px) {
  .columns__vfXvM {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 768px) {
  .columns__vfXvM > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___2Th7J {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__mGffc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  min-width: 0;
}
.column___07Ga3 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img___7NyX {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 80px;
  flex-shrink: 0;
}
.img___7NyX > picture > img {
  object-fit: cover;
}
.column__p3Miq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img___4PEqy {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 62px;
  margin-right: 0px;
  flex-shrink: 0;
}
.img___4PEqy > picture > img {
  object-fit: cover;
}
.column__e8Qq6 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__yxGFb {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 66px;
  margin-bottom: 0px;
  flex-shrink: 0;
}
.img__yxGFb > picture > img {
  object-fit: cover;
}
.column___9Ihqs {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__ace2R {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 80px;
  flex-shrink: 0;
}
.img__ace2R > picture > img {
  object-fit: cover;
}
.pageMetadataOverride:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.section__znTu {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 36px 0;
}
.section__znTu > * {
  grid-column: 4;
}
@media (max-width: 768px) {
  .section__znTu {
    padding-top: 8px;
    padding-bottom: 8px;
    display: none;
  }
}
@media (max-width: 768px) {
  .section__znTu > * {
    grid-column: 4;
  }
}
.columns___2Jt1H {
  --plsmc-rc-col-gap: 0px;
}
.columns___2Jt1H {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-self: flex-start;
  min-width: 0;
  padding: 8px 0px;
}
.columns___2Jt1H > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns___2Jt1H > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (max-width: 768px) {
  .columns___2Jt1H {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 768px) {
  .columns___2Jt1H > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__dpQly {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.img__x67Z {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  border-radius: 6px;
}
.img__x67Z > picture > img {
  object-fit: cover;
}
@media (max-width: 768px) {
  .img__x67Z {
    margin-right: 0px;
  }
}
.column__xvMCt {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
.text__ikg3H {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  font-weight: 300;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__ikg3H {
    font-size: 21px;
  }
}
.text__nSpIx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 26px;
  font-weight: 500;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__nSpIx {
    font-size: 21px;
  }
}
.text__uh8Ca {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 300;
  font-size: 24px;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__uh8Ca {
    font-size: 18px;
  }
}
.section__ab5Uq {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 36px 0;
}
.section__ab5Uq > * {
  grid-column: 4;
}
@media (max-width: 768px) {
  .section__ab5Uq {
    padding-top: 8px;
    padding-bottom: 8px;
    display: none;
  }
}
@media (max-width: 768px) {
  .section__ab5Uq > * {
    grid-column: 4;
  }
}
.columns__wbvTm {
  --plsmc-rc-col-gap: 0px;
}
.columns__wbvTm {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-self: flex-start;
  min-width: 0;
  padding: 8px 0px;
}
.columns__wbvTm > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__wbvTm > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (max-width: 768px) {
  .columns__wbvTm {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 768px) {
  .columns__wbvTm > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__yHamz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.img__tR6M {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  border-radius: 6px;
}
.img__tR6M > picture > img {
  object-fit: cover;
}
@media (max-width: 768px) {
  .img__tR6M {
    margin-right: 0px;
  }
}
.column__tpHre {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
.text__fyYSy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  font-weight: 300;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__fyYSy {
    font-size: 21px;
  }
}
.text___8XHO {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 26px;
  font-weight: 500;
  min-width: 0;
}
@media (max-width: 768px) {
  .text___8XHO {
    font-size: 21px;
  }
}
.text__dFRi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 300;
  font-size: 24px;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__dFRi {
    font-size: 18px;
  }
}
.section__bmCf {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 36px 0;
}
.section__bmCf > * {
  grid-column: 4;
}
@media (max-width: 768px) {
  .section__bmCf {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}
@media (max-width: 768px) {
  .section__bmCf > * {
    grid-column: 4;
  }
}
.columns___4Vi0V {
  --plsmc-rc-col-gap: 0px;
}
.columns___4Vi0V {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-self: flex-start;
  min-width: 0;
  padding: 8px 0px;
}
.columns___4Vi0V > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns___4Vi0V > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (max-width: 768px) {
  .columns___4Vi0V {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 768px) {
  .columns___4Vi0V > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__uHta9 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.img__lkYm6 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  border-radius: 6px;
}
.img__lkYm6 > picture > img {
  object-fit: cover;
}
@media (max-width: 768px) {
  .img__lkYm6 {
    margin-right: 0px;
  }
}
.column__lQ4Zu {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
.text__zsaA8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  font-weight: 300;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__zsaA8 {
    font-size: 21px;
  }
}
.text__peUp8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 26px;
  font-weight: 500;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__peUp8 {
    font-size: 21px;
  }
}
.text__kKYor {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 300;
  font-size: 24px;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__kKYor {
    font-size: 18px;
  }
}
