.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.section___4HNpg {
  display: grid;
  position: sticky;
  align-content: center;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  background: var(--token-F0GhM8Mmy6S6);
  left: 0px;
  top: 0px;
  z-index: 1;
  overflow: auto;
  cursor: auto;
  backface-visibility: visible;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section___4HNpg > * {
  grid-column: 4;
}
@media (max-width: 768px) {
  .section___4HNpg {
    position: sticky;
    left: 0px;
    top: 0px;
  }
}
@media (max-width: 768px) {
  .section___4HNpg > * {
    grid-column: 4;
  }
}
.navigationBar:global(.__wab_instance) {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 0px;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  justify-self: flex-start;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 16px;
}
@media (max-width: 768px) {
  .navigationBar:global(.__wab_instance) {
    color: var(--token-S6uc0sLuszyi);
    overflow: auto;
    left: auto;
    top: auto;
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: row;
  }
}
.link__ojS2G {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.img__qNqNb {
  object-fit: cover;
  height: 100px;
  margin-right: 0px;
}
.img__qNqNb > picture > img {
  object-fit: cover;
}
.img__cEhpv {
  object-fit: cover;
  margin-bottom: 0px;
  margin-left: 0px;
  max-width: 35px;
  width: 100%;
  min-width: 0;
}
.img__cEhpv > picture > img {
  object-fit: cover;
}
@media (max-width: 768px) {
  .img__cEhpv {
    max-width: 25px;
  }
}
.img__pmPky {
  object-fit: cover;
}
.img__pmPky > picture > img {
  object-fit: cover;
}
@media (max-width: 768px) {
  .img__pmPky {
    height: 20px;
    width: 20px;
  }
}
.link__ay201 {
  position: relative;
  margin-right: 0px;
  display: flex;
}
.link__dRr4A {
  position: relative;
  margin-right: 0px;
  display: flex;
}
.link__tpxFt {
  position: relative;
  margin-right: 0px;
  display: flex;
}
.link__igi8O {
  position: relative;
  display: flex;
}
.link__pG5Vr {
  position: relative;
  display: flex;
  color: #3291ff;
}
.link__rwF7A {
  position: relative;
  display: flex;
}
.link__xyJXq {
  display: grid;
  position: relative;
  align-content: center;
  justify-items: flex-end;
  width: 100%;
  padding-left: 0px;
  padding-right: 0;
  margin-top: 0px;
  max-width: 63px;
  color: var(--token-dMoyXbO7yWwG);
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.link__xyJXq > * {
  grid-column: 4;
}
.svg__n0KYg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-Nu9H9hLz4qRr);
  margin-bottom: 0px;
  margin-left: 0px;
  height: 30px;
}
@media (max-width: 768px) {
  .svg__n0KYg {
    display: none;
  }
}
.section__toGui {
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  display: none;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__toGui > * {
  grid-column: 4;
}
@media (max-width: 768px) {
  .section__toGui {
    display: grid;
  }
}
@media (max-width: 768px) {
  .section__toGui > * {
    grid-column: 4;
  }
}
.columns__bz43S {
  --plsmc-rc-col-gap: 0px;
}
.columns__bz43S {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__bz43S > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__bz43S > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (max-width: 768px) {
  .columns__bz43S {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-self: flex-start;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
    display: none;
  }
}
@media (max-width: 768px) {
  .columns__bz43S > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__ogRYy {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (max-width: 768px) {
  .column__ogRYy {
    display: none;
  }
}
.column__v06Ms {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (max-width: 768px) {
  .column__v06Ms {
    display: none;
  }
}
.section__w8Jgj {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  background: var(--token-F0GhM8Mmy6S6);
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__w8Jgj > * {
  grid-column: 4;
}
@media (max-width: 768px) {
  .section__w8Jgj > * {
    grid-column: 4;
  }
}
.columns__vksd5 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  min-width: 0;
  padding: 8px;
}
.columns__vksd5 > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 3px);
  width: calc(100% + 3px);
  --plsmc-rc-col-gap: 3px;
}
.columns__vksd5 > :global(.__wab_flex-container) > *,
.columns__vksd5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__vksd5 > :global(.__wab_flex-container) > picture > img,
.columns__vksd5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 3px;
}
.columns__vksd5 {
  --plsmc-rc-col-gap: 0px;
}
.columns__vksd5 > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__vksd5 > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__vksd5 > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (max-width: 768px) {
  .columns__vksd5 {
    width: 100%;
    height: auto;
    flex-direction: row;
    padding-top: 0px;
    min-width: 0;
    display: none;
  }
}
@media (max-width: 768px) {
  .columns__vksd5 > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 768px) {
  .columns__vksd5 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__t6EkX {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 768px) {
  .column__t6EkX {
    display: none;
  }
}
.button__d7Mfj:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__zEh3I {
  position: relative;
  object-fit: cover;
  margin-right: 0px;
  margin-bottom: 0px;
  height: 30px;
}
.svg__dh53I {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.column___1Znhl {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 768px) {
  .column___1Znhl {
    display: none;
  }
}
.button___5GrJm:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__l2SIt {
  position: relative;
  object-fit: cover;
  height: 35px;
}
.svg__kHuRr {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.column__jjvbr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 768px) {
  .column__jjvbr {
    display: none;
  }
}
.button___3Fs7L:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___20Bqb {
  position: relative;
  object-fit: cover;
  height: 30px;
}
.svg__tSmXl {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.section__tmk2U {
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  background: var(--token-F0GhM8Mmy6S6);
  min-width: 0;
  display: none;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__tmk2U > * {
  grid-column: 4;
}
@media (max-width: 768px) {
  .section__tmk2U {
    display: grid;
  }
}
@media (max-width: 768px) {
  .section__tmk2U > * {
    grid-column: 4;
  }
}
.columns___8Uyy {
  --plsmc-rc-col-gap: 0px;
}
.columns___8Uyy {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns___8Uyy > :nth-child(4n + 1) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns___8Uyy > :nth-child(4n + 2) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns___8Uyy > :nth-child(4n + 3) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns___8Uyy > :nth-child(4n + 4) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
@media (max-width: 768px) {
  .columns___8Uyy {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-self: flex-start;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
@media (max-width: 768px) {
  .columns___8Uyy > :nth-child(3n + 1) {
    width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
  }
}
@media (max-width: 768px) {
  .columns___8Uyy > :nth-child(3n + 2) {
    width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
  }
}
@media (max-width: 768px) {
  .columns___8Uyy > :nth-child(3n + 3) {
    width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
  }
}
.column___09OVf {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (max-width: 768px) {
  .column___09OVf {
    display: none;
  }
}
.button___1LUbj:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__sQcX {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__gNF {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.column__sJo3V {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px 0px;
}
@media (max-width: 768px) {
  .column__sJo3V {
    display: flex;
  }
}
.button__bhqMw:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-right: 0px;
}
.svg__y2Ow {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 25px;
  margin-bottom: 0px;
}
.text__cJpy5 {
  text-align: center;
  font-size: 12px;
  padding-right: 0px;
}
.svg__xdrV {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.column__zJz5H {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px;
}
.button__qDaTo:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___0MiSg {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 25px;
}
.text__csSp {
  text-align: center;
  font-size: 12px;
}
.svg__sXk3O {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.column__ef8ZL {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px;
}
.button__h3Sft:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___6EuuW {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 20px;
}
.text__wKXf6 {
  text-align: center;
  font-size: 12px;
  font-weight: 500;
}
.svg__xtJ1L {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.section__yw0Xp {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__yw0Xp > * {
  grid-column: 4;
}
@media (max-width: 768px) {
  .section__yw0Xp > * {
    grid-column: 4;
  }
}
.columns__m7Zxb {
  --plsmc-rc-col-gap: 0px;
}
.columns__m7Zxb {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-self: flex-start;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 36px 0px 0px;
}
.columns__m7Zxb > :nth-child(1n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (max-width: 768px) {
  .columns__m7Zxb {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 8px;
    padding-bottom: 0px;
    min-width: 0;
  }
}
@media (max-width: 768px) {
  .columns__m7Zxb > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__rwa9R {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.section___87Gb {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  margin-right: 0px;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 36px 0;
}
.section___87Gb > * {
  grid-column: 4;
}
@media (max-width: 768px) {
  .section___87Gb {
    width: auto;
    padding-bottom: 8px;
    padding-top: 8px;
  }
}
@media (max-width: 768px) {
  .section___87Gb > * {
    grid-column: 4;
  }
}
.columns__dweI {
  --plsmc-rc-col-gap: 0px;
}
.columns__dweI {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__dweI > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__dweI > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (max-width: 768px) {
  .columns__dweI {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 768px) {
  .columns__dweI > :nth-child(2n + 1) {
    width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
  }
}
@media (max-width: 768px) {
  .columns__dweI > :nth-child(2n + 2) {
    width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
  }
}
.column__yHbQj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 768px) {
  .column__yHbQj {
    align-items: flex-start;
    justify-content: center;
  }
}
.link__fqXMc {
  position: relative;
  display: flex;
}
.svg__xqI3 {
  object-fit: cover;
  max-width: 100%;
  height: 25px;
  color: var(--token-WxvvgatuPYoJ);
}
@media (max-width: 768px) {
  .svg__xqI3 {
    color: var(--token-WxvvgatuPYoJ);
  }
}
.column__izrqI {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__xdUfP {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  font-weight: 300;
  text-align: right;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__xdUfP {
    font-size: 18px;
  }
}
.text__v4Yes {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 26px;
  font-weight: 500;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__v4Yes {
    font-size: 21px;
  }
}
.text__usGn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 300;
  font-size: 24px;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__usGn {
    font-size: 18px;
  }
}
.section__qnH1M {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__qnH1M > * {
  grid-column: 4;
}
.img___4F77M {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: auto;
  border-radius: 6px;
}
.img___4F77M > picture > img {
  object-fit: cover;
}
@media (max-width: 768px) {
  .img___4F77M {
    border-radius: 6px;
  }
}
.section__pJxlu {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  margin-right: 0px;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 36px 0;
}
.section__pJxlu > * {
  grid-column: 4;
}
@media (max-width: 768px) {
  .section__pJxlu {
    width: auto;
    padding-bottom: 0px;
    padding-top: 8px;
  }
}
@media (max-width: 768px) {
  .section__pJxlu > * {
    grid-column: 4;
  }
}
.text__bbYro {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 300;
  font-size: 24px;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__bbYro {
    font-size: 18px;
  }
}
.section__e90EL {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 36px 0;
}
.section__e90EL > * {
  grid-column: 4;
}
@media (max-width: 768px) {
  .section__e90EL {
    padding-top: 8px;
    padding-bottom: 8px;
    display: none;
  }
}
@media (max-width: 768px) {
  .section__e90EL > * {
    grid-column: 4;
  }
}
.columns__pR4Rs {
  --plsmc-rc-col-gap: 0px;
}
.columns__pR4Rs {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-self: flex-start;
  min-width: 0;
  padding: 8px 0px;
}
.columns__pR4Rs > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__pR4Rs > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (max-width: 768px) {
  .columns__pR4Rs {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 768px) {
  .columns__pR4Rs > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__iix6K {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.img__r9DUa {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  border-radius: 6px;
}
.img__r9DUa > picture > img {
  object-fit: cover;
}
@media (max-width: 768px) {
  .img__r9DUa {
    margin-right: 0px;
  }
}
.column__i0CiK {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
.text__rYjV2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  font-weight: 300;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__rYjV2 {
    font-size: 21px;
  }
}
.text___9OfIc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 26px;
  font-weight: 500;
  min-width: 0;
}
@media (max-width: 768px) {
  .text___9OfIc {
    font-size: 21px;
    padding-top: 0px;
  }
}
.text__doSbQ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 300;
  font-size: 24px;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__doSbQ {
    font-size: 18px;
  }
}
.section__lfTzW {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 36px 0;
}
.section__lfTzW > * {
  grid-column: 4;
}
@media (max-width: 768px) {
  .section__lfTzW {
    padding-top: 8px;
    padding-bottom: 8px;
    display: none;
  }
}
@media (max-width: 768px) {
  .section__lfTzW > * {
    grid-column: 4;
  }
}
.columns___1VFl {
  --plsmc-rc-col-gap: 0px;
}
.columns___1VFl {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-self: flex-start;
  min-width: 0;
  padding: 8px 0px;
}
.columns___1VFl > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns___1VFl > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (max-width: 768px) {
  .columns___1VFl {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 768px) {
  .columns___1VFl > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__wyk3 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.img__wodch {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  border-radius: 6px;
}
.img__wodch > picture > img {
  object-fit: cover;
}
@media (max-width: 768px) {
  .img__wodch {
    margin-right: 0px;
  }
}
.column___8KijP {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
.text___8TvfX {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  font-weight: 300;
  min-width: 0;
}
@media (max-width: 768px) {
  .text___8TvfX {
    font-size: 21px;
  }
}
.text__ruv2K {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 26px;
  font-weight: 500;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__ruv2K {
    font-size: 21px;
  }
}
.text__sCShH {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 300;
  font-size: 24px;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__sCShH {
    font-size: 18px;
  }
}
.section__ldERj {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 36px 0;
}
.section__ldERj > * {
  grid-column: 4;
}
@media (max-width: 768px) {
  .section__ldERj {
    padding-top: 8px;
    padding-bottom: 8px;
    display: none;
  }
}
@media (max-width: 768px) {
  .section__ldERj > * {
    grid-column: 4;
  }
}
.columns___2Rpn {
  --plsmc-rc-col-gap: 0px;
}
.columns___2Rpn {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-self: flex-start;
  min-width: 0;
  padding: 8px 0px;
}
.columns___2Rpn > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns___2Rpn > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (max-width: 768px) {
  .columns___2Rpn {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 768px) {
  .columns___2Rpn > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__djwi {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.img__lSpoF {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  border-radius: 6px;
}
.img__lSpoF > picture > img {
  object-fit: cover;
}
@media (max-width: 768px) {
  .img__lSpoF {
    margin-right: 0px;
  }
}
.column__iaHHw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
.text___6CHnx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  font-weight: 300;
  min-width: 0;
}
@media (max-width: 768px) {
  .text___6CHnx {
    font-size: 21px;
  }
}
.text__pif5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 26px;
  font-weight: 500;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__pif5 {
    font-size: 21px;
  }
}
.text__dtrAo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 300;
  font-size: 24px;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__dtrAo {
    font-size: 18px;
  }
}
.section___2WiBb {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 36px 0;
}
.section___2WiBb > * {
  grid-column: 4;
}
@media (max-width: 768px) {
  .section___2WiBb {
    padding-top: 8px;
    padding-bottom: 8px;
    display: none;
  }
}
@media (max-width: 768px) {
  .section___2WiBb > * {
    grid-column: 4;
  }
}
.columns__d97PD {
  --plsmc-rc-col-gap: 0px;
}
.columns__d97PD {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-self: flex-start;
  min-width: 0;
  padding: 8px 0px;
}
.columns__d97PD > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__d97PD > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (max-width: 768px) {
  .columns__d97PD {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 768px) {
  .columns__d97PD > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__uDr6E {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.img__lfck2 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  border-radius: 6px;
}
.img__lfck2 > picture > img {
  object-fit: cover;
}
@media (max-width: 768px) {
  .img__lfck2 {
    margin-right: 0px;
  }
}
.column___8IuZj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
.text__reNfY {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  font-weight: 300;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__reNfY {
    font-size: 21px;
  }
}
.text__eI4H9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 26px;
  font-weight: 500;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__eI4H9 {
    font-size: 21px;
  }
}
.text__cjeht {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 300;
  font-size: 24px;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__cjeht {
    font-size: 18px;
  }
}
.section__kWrIj {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 36px 0;
}
.section__kWrIj > * {
  grid-column: 4;
}
@media (max-width: 768px) {
  .section__kWrIj {
    padding-top: 8px;
    padding-bottom: 8px;
    display: none;
  }
}
@media (max-width: 768px) {
  .section__kWrIj > * {
    grid-column: 4;
  }
}
.columns__saoIp {
  --plsmc-rc-col-gap: 0px;
}
.columns__saoIp {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-self: flex-start;
  min-width: 0;
  padding: 8px 0px;
}
.columns__saoIp > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__saoIp > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (max-width: 768px) {
  .columns__saoIp {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 768px) {
  .columns__saoIp > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__tQe4M {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.img__vi0SC {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  border-radius: 6px;
}
.img__vi0SC > picture > img {
  object-fit: cover;
}
@media (max-width: 768px) {
  .img__vi0SC {
    margin-right: 0px;
  }
}
.column__swomg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
.text__qg6Iv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  font-weight: 300;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__qg6Iv {
    font-size: 21px;
  }
}
.text__t1SyS {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 26px;
  font-weight: 500;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__t1SyS {
    font-size: 21px;
  }
}
.text__yxs4A {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 300;
  font-size: 24px;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__yxs4A {
    font-size: 18px;
  }
}
.section__k0KPe {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 36px 0;
}
.section__k0KPe > * {
  grid-column: 4;
}
@media (max-width: 768px) {
  .section__k0KPe {
    padding-top: 8px;
    padding-bottom: 8px;
    display: none;
  }
}
@media (max-width: 768px) {
  .section__k0KPe > * {
    grid-column: 4;
  }
}
.columns__bqvMc {
  --plsmc-rc-col-gap: 0px;
}
.columns__bqvMc {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-self: flex-start;
  min-width: 0;
  padding: 8px 0px;
}
.columns__bqvMc > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__bqvMc > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (max-width: 768px) {
  .columns__bqvMc {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 768px) {
  .columns__bqvMc > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__padUn {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.img__eIrNh {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  border-radius: 6px;
}
.img__eIrNh > picture > img {
  object-fit: cover;
}
@media (max-width: 768px) {
  .img__eIrNh {
    margin-right: 0px;
  }
}
.column__cEaxc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
.text__eiMkJ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  font-weight: 300;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__eiMkJ {
    font-size: 21px;
  }
}
.text__j435 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 26px;
  font-weight: 500;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__j435 {
    font-size: 21px;
  }
}
.text__krD7U {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 300;
  font-size: 24px;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__krD7U {
    font-size: 18px;
  }
}
.section__j3GF {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__j3GF > * {
  grid-column: 4;
}
@media (max-width: 768px) {
  .section__j3GF > * {
    grid-column: 4;
  }
}
.columns__b3UH8 {
  --plsmc-rc-col-gap: 0px;
}
.columns__b3UH8 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-self: flex-start;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 36px 0px;
}
.columns__b3UH8 > :nth-child(1n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (max-width: 768px) {
  .columns__b3UH8 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 8px;
    padding-bottom: 8px;
    min-width: 0;
    display: none;
  }
}
@media (max-width: 768px) {
  .columns__b3UH8 > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__hnLct {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 768px) {
  .column__hnLct {
    display: none;
  }
}
.section___3PXaH {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section___3PXaH > * {
  grid-column: 4;
}
.img___4Rroh {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: auto;
  border-radius: 6px;
}
.img___4Rroh > picture > img {
  object-fit: cover;
}
@media (max-width: 768px) {
  .img___4Rroh {
    display: none !important;
    border-radius: 6px;
  }
}
.section__p34MN {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: auto;
  margin-right: 0px;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 36px 0;
}
.section__p34MN > * {
  grid-column: 4;
}
@media (max-width: 768px) {
  .section__p34MN {
    width: auto;
    display: none;
  }
}
@media (max-width: 768px) {
  .section__p34MN > * {
    grid-column: 4;
  }
}
.text__lDsSb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  font-weight: 300;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__lDsSb {
    display: none;
  }
}
.link___75Smb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 26px;
  font-weight: 500;
  color: #535353d9;
  min-width: 0;
}
@media (max-width: 768px) {
  .link___75Smb {
    color: var(--token-WxvvgatuPYoJ);
    display: none;
  }
}
.text__nq0Mq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 300;
  font-size: 24px;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__nq0Mq {
    display: none;
  }
}
.footerMain:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (max-width: 768px) {
  .footerMain:global(.__wab_instance) {
    display: none;
  }
}
.section__dsYy3 {
  display: grid;
  position: relative;
  align-content: center;
  justify-items: center;
  width: 100%;
  background: #ffffff;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__dsYy3 > * {
  grid-column: 4;
}
@media (max-width: 768px) {
  .section__dsYy3 {
    display: none;
  }
}
@media (max-width: 768px) {
  .section__dsYy3 > * {
    grid-column: 4;
  }
}
.columns___4RUZb {
  --plsmc-rc-col-gap: 0px;
}
.columns___4RUZb {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns___4RUZb > :nth-child(1n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (max-width: 768px) {
  .columns___4RUZb {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 768px) {
  .columns___4RUZb > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__pAtH4 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.columns__yMvfw {
  --plsmc-rc-col-gap: 0px;
}
.columns__yMvfw {
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 8px;
}
.columns__yMvfw > :nth-child(5n + 1) {
  width: calc((100% - 5 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__yMvfw > :nth-child(5n + 2) {
  width: calc((100% - 5 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__yMvfw > :nth-child(5n + 3) {
  width: calc((100% - 5 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns__yMvfw > :nth-child(5n + 4) {
  width: calc((100% - 5 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns__yMvfw > :nth-child(5n + 5) {
  width: calc((100% - 5 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
@media (max-width: 768px) {
  .columns__yMvfw {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 768px) {
  .columns__yMvfw > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__bFvX {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__mEEsm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  min-width: 0;
}
.column__dvtXo {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__qjxQf {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 80px;
  flex-shrink: 0;
}
.img__qjxQf > picture > img {
  object-fit: cover;
}
.column__tRpJn {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__boNlR {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 62px;
  margin-right: 0px;
  flex-shrink: 0;
}
.img__boNlR > picture > img {
  object-fit: cover;
}
.column__feSBx {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__rwzHu {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 66px;
  margin-bottom: 0px;
  flex-shrink: 0;
}
.img__rwzHu > picture > img {
  object-fit: cover;
}
.column__y1P7R {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__czGFq {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 80px;
  flex-shrink: 0;
}
.img__czGFq > picture > img {
  object-fit: cover;
}
.pageMetadataOverride:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.section__lIyxm {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 36px 0;
}
.section__lIyxm > * {
  grid-column: 4;
}
@media (max-width: 768px) {
  .section__lIyxm {
    padding-top: 8px;
    padding-bottom: 8px;
    display: none;
  }
}
@media (max-width: 768px) {
  .section__lIyxm > * {
    grid-column: 4;
  }
}
.columns__wmFne {
  --plsmc-rc-col-gap: 0px;
}
.columns__wmFne {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-self: flex-start;
  min-width: 0;
  padding: 8px 0px;
}
.columns__wmFne > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__wmFne > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (max-width: 768px) {
  .columns__wmFne {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 768px) {
  .columns__wmFne > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__sY3Mg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.img__xyf4W {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  border-radius: 6px;
}
.img__xyf4W > picture > img {
  object-fit: cover;
}
@media (max-width: 768px) {
  .img__xyf4W {
    margin-right: 0px;
  }
}
.column__j9Gt4 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
.text__pw9J2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  font-weight: 300;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__pw9J2 {
    font-size: 21px;
  }
}
.text__mTbY7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 26px;
  font-weight: 500;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__mTbY7 {
    font-size: 21px;
  }
}
.text__ycQIr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 300;
  font-size: 24px;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__ycQIr {
    font-size: 18px;
  }
}
.section___7FTo {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 36px 0;
}
.section___7FTo > * {
  grid-column: 4;
}
@media (max-width: 768px) {
  .section___7FTo {
    padding-top: 8px;
    padding-bottom: 8px;
    display: none;
  }
}
@media (max-width: 768px) {
  .section___7FTo > * {
    grid-column: 4;
  }
}
.columns__vY4M6 {
  --plsmc-rc-col-gap: 0px;
}
.columns__vY4M6 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-self: flex-start;
  min-width: 0;
  padding: 8px 0px;
}
.columns__vY4M6 > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__vY4M6 > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (max-width: 768px) {
  .columns__vY4M6 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 768px) {
  .columns__vY4M6 > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__nw7G0 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.img__zpyPg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  border-radius: 6px;
}
.img__zpyPg > picture > img {
  object-fit: cover;
}
@media (max-width: 768px) {
  .img__zpyPg {
    margin-right: 0px;
  }
}
.column__uvNrI {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
.text__m4Jgn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  font-weight: 300;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__m4Jgn {
    font-size: 21px;
  }
}
.text___3RyF {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 26px;
  font-weight: 500;
  min-width: 0;
}
@media (max-width: 768px) {
  .text___3RyF {
    font-size: 21px;
  }
}
.text___1PuVg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 300;
  font-size: 24px;
  min-width: 0;
}
@media (max-width: 768px) {
  .text___1PuVg {
    font-size: 18px;
  }
}
.section__l6DHx {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 36px 0;
}
.section__l6DHx > * {
  grid-column: 4;
}
@media (max-width: 768px) {
  .section__l6DHx {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}
@media (max-width: 768px) {
  .section__l6DHx > * {
    grid-column: 4;
  }
}
.columns__jAIs8 {
  --plsmc-rc-col-gap: 0px;
}
.columns__jAIs8 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-self: flex-start;
  min-width: 0;
  padding: 8px 0px;
}
.columns__jAIs8 > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__jAIs8 > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (max-width: 768px) {
  .columns__jAIs8 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 768px) {
  .columns__jAIs8 > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__gRxi {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.img__izv5 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  border-radius: 6px;
}
.img__izv5 > picture > img {
  object-fit: cover;
}
@media (max-width: 768px) {
  .img__izv5 {
    margin-right: 0px;
  }
}
.column__fLs7M {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
.text__uJpuj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  font-weight: 300;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__uJpuj {
    font-size: 21px;
  }
}
.text__gpuz5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 26px;
  font-weight: 500;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__gpuz5 {
    font-size: 21px;
  }
}
.text__jvse1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 300;
  font-size: 24px;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__jvse1 {
    font-size: 18px;
  }
}
